:root {
    color-scheme: light dark;
    background-color: light-dark(#eee, #111);
    color: light-dark(#111, #eee);

    font-family: "Times New Roman", Times, serif;
}
html input {
    font-family: Consolas, Monaco, "Lucida Console", monospace;
    font-size: 0.8125rem;
}
html textarea {
    font-family: Consolas, Monaco, "Lucida Console", monospace;
    font-size: 0.8125rem;
}
html {
    overflow: hidden;
}
body {
    margin: 0px;
}

/* General */
.popup {
    position: absolute;
    background-color: light-dark(#ccc, #444);
    padding: 10px;

    left: 10px;
    border: 2px solid light-dark(#aaa, #555);

    border-radius: 5px;

    transition: opacity 0.5s;

    opacity: 0;
}

/* Sidebar */
:root {
    --sidebar-size: 2rem;
    --sidebar-height: calc(var(--sidebar-size) * 1.25);
}
body {
    display: grid;
    grid-template-columns: calc(var(--sidebar-height) + 16px) 11px auto;
}
#sidebar {
    z-index: 100;

    user-select: none;

    position: relative;
    font-size: var(--sidebar-size);
    overflow-x: visible;

    margin-top: 8px;
    margin-bottom: 8px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;

    height: calc(100vh - 16px);
}
#sidebar .sidebar-tab {
    background-color: light-dark(#ddd, #222);
    color: light-dark(#222, #ddd);

    display: grid;
    grid-template-columns: var(--sidebar-height) auto;
    grid-template-rows: var(--sidebar-height);
    border-radius: 5px;

    width: var(--sidebar-height);
    overflow: hidden;

    padding: 4px;
    margin-bottom: 8px;
    margin-left: 8px;

    transition: width 1s;
}
#sidebar i {
    margin-right: 4px;
}
#sidebar p {
    margin: 0px 0px 0px 4px;
    padding-right: 4px;
}
#sidebar .log-out {
    margin-top: auto;
}

#middle-border {
    margin-left: 10px;
    border: 1px solid light-dark(#aaa, #555);
}

/* Main content */
#main-content {
    overflow-x: hidden;
    overflow-y: hidden;
}

#main-content-scroll-animation {
    height: 100%;
    width: 100%;

    overflow: visible;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 100vh);

    top: 0vh;
    transition: top 1s;

    position: relative;
}
.content-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
}
.content-window {
    overflow: visible;
    
    min-height: calc(100vh - 30px);
    height: 1px;
}
.content-window > * {
    padding-left: 39px;
}
.content-window h1 {
    border-bottom: 2px solid light-dark(#aaa, #555);
    margin: 0px;
    font-weight: bold;
    font-size: 3em;
    padding-bottom: 9px;
    margin-bottom: 20px;
}

/* Projects window */
#projects {
    --margin-top: 10px;
    --margin-bottom: 10px;

    column-gap: 20px;
    column-width: 400px;
    margin-bottom: calc(var(--margin-bottom) + var(--margin-top));

    margin-right: 60px;

    min-height: calc(100vh - 30px - (var(--margin-bottom) + var(--margin-top)));
}

.project {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;

    padding: 0px;

    background-color: light-dark(#ddd, #222);
    color: light-dark(#222, #ddd);
    border-radius: 5px;

    margin: 20px 20px 10px 40px;

    position: relative;
    top: var(--margin-top);
}

.project:nth-child(2) {
    margin-top: calc(var(--margin-top) * -1);
}

.project * {
    padding: 0px;
}

.project .project-name {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;

    border-bottom: 2px solid light-dark(#aaa, #555);

    font-size: 2rem;
    font-weight: bold;
}
.project .project-requester {
    display: inline-block;
    width: calc(50% - 10px);
    margin-left: 10px;
    font-size: 0.75rem;
}
.project .project-requester p {
    margin: 0px;
    color: light-dark(#555, #aaa);
}
.project .project-requester p:nth-child(2) {
    font-size: 1rem;
    color: light-dark(#111, #eee);
}
.project .project-executor {
    display: inline-block;
    width: calc(50% - 10px);
    margin-right: 10px;
    font-size: 0.75rem;
}
.project .project-executor p {
    margin: 0px;
    color: light-dark(#555, #aaa);
}
.project .project-executor p:nth-child(2) {
    font-size: 1rem;
    color: light-dark(#111, #eee);
}
.project .project-description {
    margin: 10px 10px 0px 10px;
    color: light-dark(#555, #aaa);
}
.project .project-description::after {
    content: "";
    display: block;

    margin: 5px 20px 0px 20px;

    border-top: 2px solid light-dark(#aaa, #555);
}
.project .project-links {
    margin: 2px 10px 5px 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;

    color: light-dark(#111, #eee);
    font-size: 1rem;
}
.project .project-links a:visited {
    color: light-dark(#111, #eee);
}

/* Suggestions */
.split-screen {
    height: calc(100vh - 120px);

    min-width: 690px;
}
.split-screen > * {
    display: inline-block;

    width: calc(50% - 30px);
    height: calc(100% - 20px);

    margin: 10px 10px 10px 10px;

    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: thin;
    scrollbar-color: light-dark(#aaa, #555);
}
.split-screen > *:nth-child(1) {
    border-right: 2px solid light-dark(#aaa, #555);
}

#project-suggestion {
    position: relative;
    min-width: 320px;
}

#suggestions h2 {
    margin: 0px 20px 0px 0px;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 9px;
}
#suggestions p {
    color: light-dark(#555, #aaa);
    font-size: 1rem;
    margin: 0px 0px 0px 20px;
}

#suggestions label {
    display: inline-block;
    width: calc(30% - 40px);

    margin: 0px 0px 5px 40px;
    padding: 12px 0px;
}
#suggestions input::placeholder {
    color: light-dark(#777, #888);
    opacity: 1;
}
#suggestions input:not(.link *) {
    display: inline-block;
    width: calc(70% - 80px);

    margin: 0px 20px 5px 0px;

    background-color: light-dark(#eee, #111);
    border: 2px solid light-dark(#aaa, #555);
    border-radius: 5px;
    
    transition: border 1s;

    padding: 12px 20px;
    vertical-align: top;
}
#suggestions input:not(.link *):focus {
    outline: none;
    border: 2px solid light-dark(#555, #aaa);
    
}
#suggestions textarea::placeholder {
    color: light-dark(#777, #888);
    opacity: 1;
}
#suggestions textarea {
    display: inline-block;
    width: calc(70% - 80px);

    margin: 0px 20px 5px 0px;

    background-color: light-dark(#eee, #111);
    border: 2px solid light-dark(#aaa, #555);
    border-radius: 5px;

    transition: border 1s;

    padding: 12px 20px;

    resize: none;
    overflow-y: hidden;
    vertical-align: top;
}
#suggestions textarea:focus {
    outline: none;
    border: 2px solid light-dark(#555, #aaa);
}
#suggestions #links {
    position: relative;
}
#suggestions .link-label {
    margin: 0px 0px -4px 40px;
}
#suggestions .link {
    position: relative;

    display: inline-flex;

    width: calc(70% - 40px);
    margin: 0px 20px -4px 4px;

    border: 2px solid light-dark(#aaa, #555);
    border-radius: 5px;
    transition: border 1s, z-index 1s;

    overflow-x: hidden;
}
#suggestions .link:has(input:focus) {
    border: 2px solid light-dark(#555, #aaa);
    z-index: 100;
}
#suggestions .link input {
    outline: none;
    border: none;
    background-color: rgba(0,0,0,0);
    padding: 12px 20px;

    flex: 0 0 auto;

    width: calc(100% - 40px);

    transition: width 1s;
}
#suggestions .link:not(:nth-child(2)):hover input {
    width: calc(100% - 40px - 38px);
}
#suggestions .link i {
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px 0px;
    background-color: light-dark(#B90E0A, #B90E0A);
    color: light-dark(#eee, #111);
    width: 38px;

    border-radius: 5px 0px 0px 5px;

    text-align:center;

    transition: background-color 1s;
}
#suggestions .link i:hover {
    background-color: light-dark(#E3242B, #E3242B);
}
#suggestions .plus {
    position: absolute;
    bottom: -17px;
    left: calc(30% - 12px);

    font-size: 1.75rem;
    text-align:center;

    color: light-dark(#00712D, #00712D);
    background-color: light-dark(#eee, #111);
    border-radius: 100%;

    padding-top: 4px;

    z-index: 200;

    transition: color 1s;
}
#suggestions .plus:hover {
    color: light-dark(#3CB043, #3CB043);
}
#suggestions .where-to-find-you {
    margin-top: 20px;
    margin-bottom: 5px;
}
#suggestions input[type="submit"] {
    width: calc(100% - 50px);
    margin: 40px 20px 5px 20px;
}
#suggestions input[type="submit"]:hover {
    border: 2px solid light-dark(#555, #aaa);
}  
#suggestions input[type="submit"]:focus {
    border: 2px solid light-dark(#aaa, #555);
}
#suggestions input[type="submit"]:focus:hover {
    border: 2px solid light-dark(#555, #aaa);
}

#project-suggestion-wrong {
    left: calc(30% + 10px);
}

#project-succes-page {
    display: none;

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    background-color: light-dark(#eee, #111);
    opacity: 0;

    transition: opacity 0.5s;

    z-index: 100000;
}
#project-succes-page i {
    display: block;
    font-size: 4rem;
    text-align: center;
}
#project-succes-page h2 {
    margin-top: 50px;
}
#project-succes-page p {
    color: light-dark(#111, #eee);
}

#inspiration-suggestions {
    min-width: 320px;
}

/* Footer */
.footer {
    display: flex;
    column-gap: 5px;
    align-items: center;

    margin-bottom: 2px;
}
.footer a {
    margin-left: 5px;
    font-size: 1.5rem;
    color: light-dark(#111, #eee);
}
.footer a:visited {
    color: light-dark(#111, #eee);
}
.footer .copyright {
    margin-left: auto;
    margin-right: 10px;
    font-size: 1rem;
    
    user-select: none;
}

/* Loggin */
#login-window {
    display: flex;
    align-items: center;
    justify-content: center;

    height: calc(100% - 90px);
}
#login-window > form {
    border: 2px solid light-dark(#aaa, #555);
    padding: 5px;
    border-radius: 5px;
}

#login-window .input {
    border: 2px solid light-dark(#aaa, #555);
    border-radius: 5px;

    transition: border 1s;
}
#login-window .input:has(input:focus) {
    border: 2px solid light-dark(#555, #aaa);
    border-radius: 5px;
}
#login-window .input {
    display: flex;

    margin: 10px 10px 0px 10px;
}
#login-window .input label {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
}
#login-window .input i {
    font-size: 2rem;
}
#login-window .input input {
    flex-grow: 1;
}

#login-window input::placeholder {
    color: light-dark(#777, #888);
    opacity: 1;
}
#login-window input {
    display: inline-block;
    width: calc(70% - 80px);

    margin: 0px;

    background-color: rgba(0,0,0,0);
    border: 0px solid rgba(0,0,0,0);
    
    transition: border 1s;

    padding: 12px 20px;
    vertical-align: top;
}
#login-window input:focus {
    outline: none;
    border: 0px solid rgba(0,0,0,0);
}

#login-window p {
    margin: 5px 10px 0px 10px;
}

#login-window input[type="submit"] {
    width: calc(100% - 50px);
    margin: 10px 20px 5px 20px;

    border: 2px solid light-dark(#aaa, #555);
    border-radius: 5px;
}
#login-window input[type="submit"]:hover {
    border: 2px solid light-dark(#555, #aaa);
}  
#login-window input[type="submit"]:focus {
    border: 2px solid light-dark(#aaa, #555);
}
#login-window input[type="submit"]:focus:hover {
    border: 2px solid light-dark(#555, #aaa);
}

/* User */
#logged-in-window > * {
    position: relative;

    background-color: light-dark(#ddd, #222);
    border-radius: 5px;

    padding: 10px;

    max-width: 300px;

    margin: 0px 10px 10px 0px;
}
#logged-in-window h2 {
    border-bottom: 2px solid light-dark(#aaa, #555);
    margin: 0px;
    font-weight: bold;
    font-size: 2em;
    padding: 0px 20px 5px 20px;
    margin-bottom: 5px;
}
#logged-in-window label {
    display: block;

    margin: 0px 0px 0px 10px;

    font-size: 0.75rem;
    color: light-dark(#555, #aaa);
}
#logged-in-window input {
    box-sizing: border-box;
    display: block;

    width: calc(100% - 50px);

    margin: 0px 20px 5px 30px;

    background-color: light-dark(#eee, #111);
    border: 2px solid light-dark(#aaa, #555);
    border-radius: 5px;

    transition: border 1s;

    padding: 12px 20px;

    overflow-y: hidden;
}
#logged-in-window input:focus {
    outline: none;
    border: 2px solid light-dark(#555, #aaa);
}
#logged-in-window input::placeholder {
    color: light-dark(#777, #888);
    opacity: 1;
}
#logged-in-window input[type="submit"] {
    width: calc(100% - 20px);
    margin: 20px 10px 5px 10px;
}
#logged-in-window input[type="submit"]:focus {
    border: 2px solid light-dark(#aaa, #555);
}
#logged-in-window input[type="submit"]:focus:hover {
    border: 2px solid light-dark(#555, #aaa);
}
#logged-in-window input[type="submit"]:hover {
    border: 2px solid light-dark(#555, #aaa);
}
#logged-in-window p {
    margin: 5px 0px 5px 0px;
}