:root {
    color-scheme: light dark;
    background-color: light-dark(#eee, #111);
    color: light-dark(#111, #eee);
}
html {
    overflow: hidden;
}
body {
    margin: 0px;
}

/* Sidebar */
:root {
    --sidebar-size: 2rem;
    --sidebar-height: calc(var(--sidebar-size) * 1.25);
}
body {
    display: grid;
    grid-template-columns: calc(var(--sidebar-height) + 16px) 11px auto;
}
#sidebar {
    z-index: 100;

    user-select: none;

    position: relative;
    font-size: var(--sidebar-size);
    overflow-x: visible;

    margin-top: 8px;
    margin-bottom: 8px;
}
#sidebar .sidebar-tab {
    background-color: light-dark(#ddd, #222);
    color: light-dark(#222, #ddd);

    display: grid;
    grid-template-columns: var(--sidebar-height) auto;
    grid-template-rows: var(--sidebar-height);
    border-radius: 5px;

    width: var(--sidebar-height);
    overflow-x: hidden;

    padding: 4px;
    margin-bottom: 8px;
    margin-left: 8px;

    transition: width 1s;
}
#sidebar i {
    margin-right: 4px;
}
#sidebar p {
    margin: 0px 0px 0px 4px;
    padding-right: 4px;
}

#middle-border {
    margin-left: 10px;
    border: 1px solid light-dark(#aaa, #555);
}

/* Main content */
#main-content {
    overflow-x: hidden;
    overflow-y: hidden;
}

#main-content-scroll-animation {
    height: 100%;
    width: 100%;

    overflow: visible;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 100%);

    top: 0%;
    transition: top 1s;

    position: relative;
}
.content-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
}
.content-window {
    overflow: visible;
}
.content-window * {
    padding-left: 39px;
}
.content-window h1 {
    border-bottom: 2px solid light-dark(#aaa, #555);
    margin: 0px;
    font-weight: bold;
    font-size: 3em;
    padding-bottom: 9px;
    margin-bottom: 20px;
}

/* Projects window */
#projects {
    --margin-top: 10px;
    --margin-bottom: 10px;

    column-gap: 20px;
    column-width: 400px;
    margin-bottom: calc(var(--margin-bottom) + var(--margin-top));

    margin-right: 60px;
}

.project {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;

    padding: 0px;

    background-color: light-dark(#ddd, #222);
    color: light-dark(#222, #ddd);
    border-radius: 5px;

    margin: 20px 20px 10px 40px;

    position: relative;
    top: var(--margin-top);
}

.project:nth-child(2) {
    margin-top: calc(var(--margin-top) * -1);
}

.project * {
    padding: 0px;
}

.project .project-name {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;

    border-bottom: 2px solid light-dark(#aaa, #555);

    font-size: 2rem;
    font-weight: bold;
}
.project .project-requester {
    display: inline-block;
    width: calc(50% - 10px);
    margin-left: 10px;
    font-size: 0.75rem;
}
.project .project-requester p {
    margin: 0px;
    color: light-dark(#555, #aaa);
}
.project .project-requester p:nth-child(2) {
    font-size: 1rem;
    color: light-dark(#111, #eee);
}
.project .project-executor {
    display: inline-block;
    width: calc(50% - 10px);
    margin-right: 10px;
    font-size: 0.75rem;
}
.project .project-executor p {
    margin: 0px;
    color: light-dark(#555, #aaa);
}
.project .project-executor p:nth-child(2) {
    font-size: 1rem;
    color: light-dark(#111, #eee);
}
.project .project-description {
    margin: 10px 10px 0px 10px;
    color: light-dark(#555, #aaa);
}
.project .project-description::after {
    content: "";
    display: block;

    margin: 5px 20px 0px 20px;

    border-top: 2px solid light-dark(#aaa, #555);
}
.project .project-links {
    margin: 2px 10px 5px 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;

    color: light-dark(#111, #eee);
    font-size: 1rem;
}
.project .project-links a:visited {
    color: light-dark(#111, #eee);
}


/* Footer */
.footer {
    display: flex;
    column-gap: 5px;
    align-items: center;
}
.footer a {
    margin-left: 5px;
    font-size: 1.5rem;
    color: light-dark(#111, #eee);
}
.footer a:visited {
    color: light-dark(#111, #eee);
}
.footer .copyright {
    margin-left: auto;
    margin-right: 10px;
    font-size: 1rem;
}