.centerChild {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Middle window */
#window-mid {
    position: fixed; 
    background-color: rgba(220,220,220, 0.1); 
    width: 90vw; 
    height: calc(87vh - 10px); 
    z-index: 10; 
    border-radius: 20px 20px 20px 0px; 
    margin-left:5vw; 
    margin-top: 5vh;

    overflow: hidden;
}

#window-mid #window-mid-content {
    position: relative;
    left: 0vw;
    overflow: visible;

    transition: left 1s;
}

/* Content in the middle of the page */
#window-mid .tab {
    float: left;
    width: 90vw;
    height: 87vh;
    z-index: 10;

    overflow-y: scroll;
    scrollbar-color: rgba(73,73,73, 1) rgba(0,0,0,0);
    scrollbar-width: thin;
}

.tab h1 {
    margin: 0;
    width: 100%; 
    z-index: 10; 
    text-align: center; 
    font-size: clamp(30px, 10vw, 10vh);
}
.tab h2 {
    margin: 0;
    width: 100%; 
    z-index: 10; 
    text-align: center; 
    font-size: calc(clamp(30px, 10vw, 10vh) * 0.7);
}
.tab h3 {
    margin: 0;
    width: 100%; 
    z-index: 10; 
    text-align: center; 
    font-size: calc(clamp(30px, 10vw, 10vh) * 0.4);
}

/* Suggestions window */
#voorstellen #suggestion-pages {
    position: relative;
    left: 0vw;
    overflow: visible;

    transition: left 1s;
}

#voorstellen .suggestion-page {
    position: relative;

    float: left;
    width: 90vw;
    height: 100%;

    overflow-y: auto;
    scrollbar-color: rgba(73,73,73, 1) rgba(0,0,0,0);
    scrollbar-width: thin;
}

#suggestion-type-selector input[type=radio] {
    opacity: 0;
    width: 0px;
    height: 0px;
    border: 0px;
    margin: 0px;
}
#suggestion-type-selector label:before {
    display: block;
    float: left;
    content: '';
    width: var(--size);
    height: var(--size);

    border-radius: 100%;
    background-color: rgba(73,73,73, 0.7);
}
#suggestion-type-selector input[type=radio]:checked + label:before {
    width: var(--half-size);
    height: var(--half-size);
    border-radius: 100%;
    background-color: rgba(255,255,255,1);
    border: calc(var(--half-size)*0.5) solid #2196F3;
}
#suggestion-type-selector label {
    --size: clamp(40px, 5vh, 5vw);
    --half-size: calc(var(--size) * 0.5);

    line-height: var(--size);
    font-size: clamp(2em, 3vh, 3vw);

    cursor: pointer;
}
#voorstellen .return-button {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0px;

    background-color: rgba(73,73,73, 0.4);
    border-radius: 10%;
    border: 5px solid rgba(73,73,73, 0.4);

    cursor: pointer;
}

#suggestion form {
    background-color: rgba(73,73,73, 0.4);
    margin: 20px;
}
#suggestion .form-row {
    width: 100%;
    margin-bottom: 4px;
}
#suggestion label {
    display: block;
    margin-left: 4px;
    width: calc(25% - 8px);
    float: left;
}
#suggestion input {
    display: block;
    width: calc(75% - 2px);
    float: left;
    background-color: rgba(0,0,0,0);
    color: white;
    border: 1px solid #ccc;
}
#suggestion textarea {
    display: block;
    float: left;
    background-color: rgba(0,0,0,0);
    color: white;
    border: none;
    width: 75%;
}
#suggestion .form-row:after {
    content: "";
    clear: both;
}


/* Projects window */
@media screen and (min-width: 1500px) {
    #project-content {
        margin-left: 10px;
        margin-right: 10px;
        column-count: 3;    
        column-gap: 5px;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1499px) {
    #project-content {
        margin-left: 10px;
        margin-right: 10px;
        column-count: 2;    
        column-gap: 5px;
    }
}
@media screen and (min-width: 500px) and (max-width: 999px) {
    #project-content {
        margin-left: 10px;
        margin-right: 10px;
        column-count: 1;    
        column-gap: 5px;
    }
}

.project {
    display: inline-block;
    width: 100%;
    height: auto;
    border-radius: 20px; 
    overflow: hidden;
    background-color: rgba(73,73,73, 0.2);
    text-align: center;
}

.project .name.claimed {
    font-size: clamp(15px, 5vw, 5vh);
    background-color: rgba(73,73,73, 0.6);
}

.project .requester.claimed {
    font-size: clamp(10px, 2vw, 2vh);
    background-color: rgba(73,73,73, 0.6);
}

.project .name.available {
    font-size: clamp(15px, 5vw, 5vh);
    background-color: rgba(124,10,2, 0.6);
}

.project .requester.available {
    font-size: clamp(10px, 2vw, 2vh);
    background-color: rgba(124,10,2, 0.6);
}

.project .description {
    font-size: 15px;
    padding: 5px;
}
.project hr {
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}

.project .links {
    font-size: 15px;
    padding: 5px;
}
.project .links a {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}
.project .executor {
    font-size: 15px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

/* Tabs at the bottom of the page */
#tabs {
    position: fixed; 
    width: 90vw; 
    height: 8vh;
    z-index: 10; 
    left: 5vw; 
    top: 92vh;
}

#tabs span {
    background-color: rgba(73,73,73, 0.5); 
    border-radius: 0px 0px 20px 20px; 
    font-size: clamp(20px, 4vw, 4vh);

    padding: 10px;

    position: relative;
    top: 5px;

    transition: top 0.5s, background-color 0.5s;

}

#tabs span:hover {
    top: -1px;
}

#tabs .selected {
    top: -1px;
    background-color: rgba(220,220,220, 0.1);
}