# Rename to .env and change the values

NODE_ENV='production/development' # Choose either production or development

DB_HOST='127.0.0.1'
DB_USER='test'
DB_PASSWORD='insert-password'
DB_DATABASE='test'

UPLOADTHING_TOKEN='insert-token'
UPLOADTHING_KEY='insert-key'

GOOGLE_KEY='insert-key'