@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,600&display=swap');

:root {
    color-scheme: light dark;
    background-color: var(--background);
    color: var(--prominent-text);

    --background: light-dark(#111, #111);
    --prominent-background: light-dark(#222, #222);
    --extra-prominent-background: light-dark(#3A3A3A, #3A3A3A);
    --prominent-text: light-dark(#EEE, #EEE);
    --normal-text: light-dark(#AAA, #AAA);
    --non-prominent-text: light-dark(#777, #777);
    --seperator: light-dark(#777, #777);
    --border: light-dark(#444, #444);
    --label: light-dark(#CCC, #CCC);
    --prominent-label: light-dark(#FFF, #FFF);
    --yt-video: light-dark(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    --yt-description: light-dark(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    --input-border: light-dark(#777, #777);
    --conformation: light-dark(#00712D, #00712D);
    --denial: light-dark(#B90E0A, #B90E0A);
    --checkbox: light-dark(#292929, #292929);
    --popover-background: rgba(0,0,0,0.1);
    --accent: light-dark(#0f4d92, #0f4d92);

    --small-border: 5px;
    --big-border: 10px;

    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "GRAD" 0;
}
input, textarea {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "GRAD" 0;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}


/* + ======================================================================== +
/* | Text                                                                     |
/* + ========================================================================*/
h1 {
    color: light-dark(#CCC, #CCC);
    font-size: 3rem;
    padding: 2px 30px;
    margin: 5px 0px;
    border-bottom: solid 2px var(--seperator);
    text-transform: uppercase;
}
h2 {
    color: var(--normal-text);
    font-size: 2rem;
    margin: 10px 0px;
}
p {
    color: var(--normal-text);
    font-size: 0.75rem;
    margin: 15px 0px 5px 15px;
}


/* + ======================================================================== +
/* | Input & textareas & buttons                                              |
/* + ========================================================================*/
label:has(+input),
label:has(+textarea),
label:has(+.auto-grow) {
    margin-left: 30px;
    font-size: 0.875rem;
}
input:not(.iconed *),
textarea,
button {
    position: relative;

    width: calc(100% - 40px);

    background-color: var(--background);
    color: var(--prominent-text);
    border: 2px solid var(--input-border);
    border-radius: var(--small-border);
    transition: border 0.5s, z-index 0.5s;

    z-index: 0;

    padding: 12px 20px;
    margin: 1px 20px 10px 20px;

    overflow-y: hidden;
    resize: none;
    vertical-align: top;

    display: block;
    
    outline: none;

    font-size: 0.75rem;
}
input::placeholder,
textarea::placeholder {
    color: var(--non-prominent-text);
    opacity: 1;
}
input:not(.iconed *):focus,
textarea:focus {
    border: 2px solid var(--normal-text);
    z-index: 100;
}

input[type="submit"] {
    width: calc(100% - 20px);
    margin: 30px 10px 0px 10px;;
}
input[type="submit"]:focus,
button:focus {
    border: 2px solid var(--normal-text);
    z-index: 100;
}
input[type="submit"]:focus:hover,
button:focus:hover {
    border: 2px solid var(--normal-text);
    z-index: 100;
}
input[type="submit"]:hover,
button:hover {
    border: 2px solid var(--normal-text);
    z-index: 100;
}


/* + ======================================================================== +
/* | Iconed input                                                             |
/* + ========================================================================*/
.iconed {
    display: flex;
    align-items: center;
    border: 2px solid var(--input-border);
    border-radius: var(--small-border);
    background-color: var(--background);

    margin: 0px 20px 10px 20px;
    padding: 5px 10px;

    transition: border 0.5s;
}
.iconed:has(> input:focus) {
    border: 2px solid var(--normal-text);
}
.iconed > input {
    outline: none;
    border: none;
    background-color: rgba(0,0,0,0);
    font-size: 0.75rem;
    color: var(--prominent-text);

    padding: 7px 10px;
    flex: 1;
}
.iconed > label {
    margin-left: 0px;
}
.iconed > label > i {
    font-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
}


/* + ======================================================================== +
/* | Auto growing textareas                                                   |
/* + ========================================================================*/
/* https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ */
.auto-grow {
    display: grid;
}
.auto-grow > textarea,
.auto-grow::after {
    width: 100%; 

    grid-area: 1 / 1 / 2 / 2;

    padding: 12px 20px;
    margin: 0px;

    font-size: 0.75rem;
}
.auto-grow::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}


/* + ======================================================================== +
/* | Inline label                                                             |
/* + ========================================================================*/
label.inline {
    display: inline-block;
    width: calc(30% - 10px);
    margin: 0px 0px 7px 50px;
    padding: 12px 0px;

    font-size: 0.875rem;
}
label.inline + input,
label.inline + textarea,
label.inline + .iconed,
label.inline + .auto-grow,
label.inline + .inline-input {
    width: calc(70% - 65px);
    margin: 0px 20px 5px 0px;
    display: inline-block;
}
label.inline + .auto-grow {
    display: inline-grid;
}
input,
textarea,
.iconed,
.auto-grow,
.inline-input {
    vertical-align: top;
}


/* + ======================================================================== +
/* | Split window and seperators                                              |
/* + ========================================================================*/
.split-window {
    display: grid;
    grid-template-columns: calc(50% - 25px) calc(50% - 25px);
}
.split-window > * {
    position: relative;
    padding: 0px 10px 0px 30px;
}
.split-window.seperator > :first-child::after {
    content: "";
    position: absolute;
    right:0px;
    top: 20px;
    height: calc(100% - 40px);
    width: 2px;
    background-color: var(--seperator);
}
hr {
    color: var(--seperator);
    margin: 0px 10px;
}


/* + ======================================================================== +
/* | Tooltips                                                                 |
/* + ========================================================================*/
*:has(> .tooltip) {
    position: relative;
}
.tooltip {
    position: absolute;
    margin: 0;

    background-color: var(--extra-prominent-background);
    color: var(--prominent-text);
    padding: 6px;
    border-radius: 5px;

    z-index: 200;

    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s allow-discrete;
    visibility: hidden;

    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "GRAD" 0;
}
*:hover > .tooltip:not(.js-controlled) {
    transition-delay: 1s;
}
*:hover > .tooltip:not(.js-controlled),
.tooltip.js-controlled.open {
    opacity: 1;
    visibility: visible;
}
.tooltip:before {
    content: "";

    background-color: var(--extra-prominent-background);
    display: inline-block;
    width: 8px;
    height: 8px;
    rotate: 45deg;

    z-index: -100;

    position: absolute;
}
.tooltip.right {
    top: calc(50% - 12px);
    left: 100%;
}
.tooltip.right:before {
    top: calc(50% - 4px);
    left: -4px;
}
.tooltip.bottom {
    top: 100%;
    left: calc(50% - 12px);
}
.tooltip.bottom:before {
    top: -4px;
    left: calc(50% - 4px);
}


/* + ======================================================================== +
/* | Popover                                                                  |
/* + ========================================================================*/
[popover]::backdrop {
    backdrop-filter: blur(3px);
    background-color: var(--popover-background);
}
[popover] {
    position: fixed;
    width: fit-content;
    height: fit-content;
    margin: auto;

    border: none;
    background-color: rgba(0,0,0,0);

    color: var(--prominent-text);

    visibility: hidden;
    display: block;

    overflow: hidden;

    z-index: 1000;
}
[popover]:popover-open {
    visibility: visible;
}

[popover]:not(:has(.left,.middle,.right)),
[popover] .left,
[popover] .middle .top,
[popover] .middle .bottom,
[popover] .middle:not(:has(.top,.bottom)),
[popover] .right {
    border: 2px solid var(--border);
    border-radius: var(--big-border);
    padding: 15px;
    overflow: auto;
    background-color: var(--background);

    transform: translateY(-16px);
    opacity: 0;

    transition: opacity 0.5s ease-in-out, transform ease-in-out 0.5s, visibility 0.5s ease-in-out allow-discrete;
}
[popover]:has(.left,.middle,.right) {
    display: grid;
    grid-template-columns: fit-content fit-content fit-content;
    grid-template-areas: 
        'left middle right';
}
[popover] .left,
[popover]:popover-open .left.closed {
    grid-area: left;

    border-radius: var(--big-border) 0px 0px var(--big-border);
    border-right: none;
    transform: translateX(-16px);

    opacity: 0;
    visibility: hidden;
}
[popover] .middle {
    grid-area: middle;
}
[popover] .middle:not(:has(.top, .bottom)),
[popover]:popover-open .middle.closed:not(:has(.top, .bottom)),
[popover] .middle .top,
[popover]:popover-open .middle .top.closed {
    border-radius: var(--big-border);
    transform: translateY(-16px);

    opacity: 0;
    visibility: hidden;
}
[popover] .middle .bottom,
[popover]:popover-open .middle .bottom.closed {
    border-radius: 0px 0px var(--big-border) var(--big-border);
    border-top: none;
    transform: translateY(16px);

    opacity: 0;
    visibility: hidden;
}
[popover] .right,
[popover]:popover-open .right.closed {
    grid-area: right;

    border-radius: 0px var(--big-border) var(--big-border) 0px;
    border-left: none;
    transform: translateX(16px);

    opacity: 0;
    visibility: hidden;
}
[popover]:popover-open:not(:has(.left,.middle,.right)),
[popover]:popover-open .left,
[popover]:popover-open .middle .top,
[popover]:popover-open .middle .bottom,
[popover]:popover-open .middle:not(:has(.top,.bottom)),
[popover]:popover-open .right {
    transform: none;
    opacity: 1;
    visibility: visible;
}


/* + ======================================================================== +
/* | Website                                                                  |
/* + ========================================================================*/
.website {
    display: inline-grid;

    width: 311.11px;
    height: 217px;

    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;

    grid-template-areas:
        "cont cont"
        "icon info1"
        "icon info2";
}
.website .website-content {
    grid-area: cont;

    aspect-ratio: 16/9;
    height: 175px;
    background-color: var(--yt-video);
    border-radius: 12px;
    outline: none;
    border: 0;

    background-size: contain;
}
.website .website-author-icon {
    grid-area: icon;

    aspect-ratio: 1/1;
    height: 36px;
    border-radius: 100%;
    background-color: var(--yt-description);

    display: inline-block;

    background-size: contain;

    margin-top: 6px;
}
.website .website-author-name,
.website .website-extra-info {
    grid-area: info1;

    background-color: var(--yt-description);
    color: var(--prominent-text);
    border-radius: var(--small-border);
    width: 200px;
    height: 15px;

    display: block;

    margin: 6px 0px 0px 15px;
}
.website .website-extra-info {
    grid-area: info2;
    width: 150px;
}


/* + ======================================================================== +
/* | Inspiration labels                                                       |
/* + ========================================================================*/
.label {
    border-radius: var(--small-border);
    color: var(--label);
    padding: 5px 5px 5px 0px;
    margin: 1px 10px 1px 1px;
    background-color: var(--prominent-background);

    display: inline;

    white-space: nowrap;
    text-overflow: ellipsis;
}
.label::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: var(--label);
    display: inline-block;
    margin: 0px 5px 1px 5px;
}


/* + ======================================================================== +
/* | Remaining general components                                             |
/* + ========================================================================*/
.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* + ======================================================================== +
/* | Sidebar                                                                  |
/* + ========================================================================*/
body {
    margin: 0px!important;
    grid-template-columns: 58px calc(100% - 58px) !important;
    grid-template-rows: 100vh;

    height: 100vh;
}
#sidebar {
    height: 100%;
    padding: 20px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 15px;
}
#sidebar > * {
    row-gap: 15px;
    display: flex;
    flex-direction: column;
}
#sidebar-top {
    margin-top: 0;
    margin-bottom: auto;
}
#sidebar-bottom {
    margin-top: auto;
    margin-bottom: 0;
}
#sidebar i {
    color: var(--non-prominent-text);
    font-size: 2rem;

    transition: color 0.5s;
}
#sidebar i:hover {
    color: var(--prominent-text);
}
#sidebar .tooltip.right {
    left: calc(100% + 15px);
}


/* + ======================================================================== +
/* | Windows                                                                  |
/* + ========================================================================*/
.window {
    display: none;

    height: 100%;

    overflow-x: hidden;
    overflow-y: auto;
}


/* + ======================================================================== +
/* | Footer                                                                   |
/* + ========================================================================*/
.footer {
    display: flex;
    column-gap: 5px;
    align-items: center;

    margin-bottom: 2px;
}
.footer a {
    margin-left: 5px;
    font-size: 1.5rem;
    color: light-dark(#111, #eee);
}
.footer a:visited {
    color: light-dark(#111, #eee);
}
.footer .copyright {
    margin-left: auto;
    margin-right: 10px;
    font-size: 1rem;
    
    user-select: none;
}


/* + ======================================================================== +
/* | Home window                                                              |
/* + ========================================================================*/



/* + ======================================================================== +
/* | Projects window                                                          |
/* + ========================================================================*/


/* + ======================================================================== +
/* | Inspiration window                                                       |
/* + ========================================================================*/


/* + ======================================================================== +
/* | Files window                                                             |
/* + ========================================================================*/


/* + ======================================================================== +
/* | Suggestion window                                                        |
/* + ========================================================================*/
label:has(+ #project-link2, + #project-link3) {
    margin-top: -13px;
}
#project-link2,
#project-link3 {
    margin-top: -7px;
}
#inspiration-suggestion1 + .website,
#inspiration-suggestion2 + .website {
    margin-left: 20px;
}
#suggestion-label-selector label.inline {
    margin: 0px 0px 0px 50px;
    padding: 10px 0px;
}
#suggestion-label-selector .inline-input {
    margin: 0px;

    display: inline-flex;
    flex-wrap: wrap;
    row-gap: 2px;

    position: relative;
    top: 5px;
}
#suggestion-label-selector .label {
    transition: color 0.2s, background-color 0.2s;
    user-select: none;
    cursor: pointer;
}