:root {
    color-scheme: light dark;
    background-color: light-dark(#eee, #111);
    color: light-dark(#111, #eee);

    font-family: "Times New Roman", Times, serif;
}
html input {
    font-family: Consolas, Monaco, "Lucida Console", monospace;
    font-size: 0.8125rem;
}
html textarea {
    font-family: Consolas, Monaco, "Lucida Console", monospace;
    font-size: 0.8125rem;
}
html {
    overflow: hidden;
}
body {
    margin: 0px;
}

/* =========================================
-------- General ---------------------------
============================================ */
.popup {
    position: absolute;
    background-color: light-dark(#ccc, #444);
    padding: 10px;

    left: 10px;
    border: 2px solid light-dark(#aaa, #555);

    border-radius: 5px;

    transition: opacity 0.5s;

    opacity: 0;
}
.horizontal-break {
    display: block;
    margin: 10px;
}
.horizontal-break p {
    font-size: 1rem;
    color: light-dark(#555, #aaa);

    overflow: hidden;
    position: relative;
    width: 100%;

    text-align: center;
}
.horizontal-break p:before {
    left: -20px;
}
.horizontal-break p:before,
.horizontal-break p:after {
    display: inline-block;
    position: absolute;

    content: "";
    width: 50%;

    height: 2px;
    background-color: light-dark(#aaa, #555);

    top: 50%;
    margin-left: 7px;
}
/* General input */
input::placeholder,
textarea::placeholder {
    color: light-dark(#777, #888);
    opacity: 1;
}
input:not(.iconed *),
textarea,
button {
    width: 100%;

    background-color: light-dark(#eee, #111);
    border: 2px solid light-dark(#aaa, #555);
    border-radius: 5px;
    
    transition: border 1s;

    padding: 12px 20px;
    vertical-align: top;
    
    overflow-y: hidden;
    resize: none;

    display: block;
}
input:not(.iconed *):focus,
textarea:focus {
    outline: none;
    border: 2px solid light-dark(#555, #aaa);
}
input[type="submit"] {
    width: calc(100% - 50px);
    margin: 10px 20px 5px 20px;
}
input[type="submit"]:focus,
button:focus {
    border: 2px solid light-dark(#aaa, #555);
}
input[type="submit"]:focus:hover,
button:focus:hover {
    border: 2px solid light-dark(#555, #aaa);
}
input[type="submit"]:hover,
button:hover {
    border: 2px solid light-dark(#555, #aaa);
}
/* Input with icon next to it */
.iconed:has(input:focus) {
    border: 2px solid light-dark(#555, #aaa);
    z-index: 100;
}
.iconed {
    position: relative;
    display: inline-flex;

    margin: 0px 20px -4px 4px;

    border: 2px solid light-dark(#aaa, #555);
    border-radius: 5px;
    transition: border 1s, z-index 1s;
    background-color: light-dark(#eee, #111);

    overflow: hidden;
}
.iconed input {
    outline: none;
    border: none;
    background-color: rgba(0,0,0,0);
    padding: 12px 20px;

    flex: 0 0 auto;

    width: calc(100% - 78px);

    transition: width 1s;
}
.iconed-label {
    margin: 0px 0px -4px 40px;
}
.iconed i {
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px 0px;
    width: 38px;

    border-radius: 5px 0px 0px 5px;

    text-align: center;

    transition: background-color 1s;
}
/* Labels for inputs */
label.label-above,
p.label-above {
    display: block;

    margin: 0px 0px 0px 10px;

    font-size: 0.75rem;
    color: light-dark(#555, #aaa);
}
input.label-above,
textarea.label-above,
button.label-above {
    box-sizing: border-box;
    display: block;

    width: calc(100% - 50px);

    margin: 0px 20px 5px 30px;
}
.iconed.label-above {
    box-sizing: border-box;
    width: calc(100% - 50px);    
    margin: 0px 20px 5px 30px;
}

label.label-aside,
p.label-aside {
    display: inline-block;
    width: calc(30% - 40px);

    margin: 0px 0px 5px 40px;
    padding: 12px 0px;
}
input.label-aside,
textarea.label-aside,
button.label-aside {
    display: inline-block;
    width: calc(70% - 80px);

    margin: 0px 20px 5px 0px;
}
.iconed.label-aside {
    width: calc(70% - 40px);
    
    margin: 0px 20px 5px 0px;
}
/* Slider toggle */
.slider-toggle {
    --width: 45px;
    --height: 24px;

    position: relative;
    display: inline-block;
    width: calc(var(--width) + 4px);
    height: calc(var(--height) + 4px);

    background-color: light-dark(#ccc, #333);

    border-radius: calc(var(--height) / 2);

    transition: border 0.4s, margin 0.4s, background-color .4s;

    top: calc((var(--height)) / 2 - 4px);
}
.slider-toggle:has(input:checked) {
    background-color: light-dark(#00712D, #00712D);
}
.slider-toggle input {
    width: 0px;
    height: 0px;
    opacity: 0;
    vertical-align: middle;
}
.slider-toggle .internal-slider {
    display: inline-block;
    width: var(--height);
    height: var(--height);
    background-color: light-dark(#eee, #111);
    border-radius: 100%;

    position: absolute;
    top: 2.5px;
    left: 4px;

    transition: left .4s, width .4s, height .4s, top .4s, left .4s;
}
.slider-toggle:has(input:active) .internal-slider {
    width: calc(var(--height) - 2px);
    height: calc(var(--height) - 2px);

    top: 3.5px;
    left: 5px;
}
.slider-toggle input:checked + .internal-slider {
    left: calc(var(--width) - var(--height));
}

/* Additive input list */
.additive-input-list {
    position: relative;
    margin-bottom: 20px;
}
.additive-input-list label:nth-child(2) {
    margin-bottom: -3px;
}
.additive-input-list .list-item.label-aside {
    margin: 0px 20px -4px 4px;
}
.additive-input-list .list-item.label-above {
    margin: 0px 20px -4px 30px;
}
.additive-input-list .list-item.label-aside:nth-child(3) {
    position: relative;
    left: -4px;
    margin-bottom: -5px;
}
.additive-input-list .list-item input {
    width: calc(100% - 40px);
    padding: 12px 20px 12px 20px;
}
.additive-input-list .list-item:not(:nth-child(3)):hover input {
    width: calc(100% - 40px - 38px);
}
.additive-input-list .list-item i {
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px 0px;
    background-color: light-dark(#B90E0A, #B90E0A);
    color: light-dark(#eee, #111);
    width: 38px;

    border-radius: 5px 0px 0px 5px;

    text-align:center;

    transition: background-color 1s;
}
.additive-input-list .list-item i:hover {
    background-color: light-dark(#E3242B, #E3242B);
}
.additive-input-list .plus {
    position: absolute;
    bottom: -17px;
    left: calc(30% - 12px);

    font-size: 1.75rem;
    text-align:center;

    color: light-dark(#00712D, #00712D);
    background-color: light-dark(#eee, #111);
    border-radius: 100%;

    padding-top: 4px;

    z-index: 200;

    transition: color 1s;
}
.additive-input-list:has(.label-above) .plus {
    left: 12px;
}
.additive-input-list .plus:hover {
    color: light-dark(#3CB043, #3CB043);
}

/* Sidebar */
:root {
    --sidebar-size: 2rem;
    --sidebar-height: calc(var(--sidebar-size) * 1.25);
}
body {
    display: grid;
    grid-template-columns: calc(var(--sidebar-height) + 16px) 11px auto;
}
#sidebar {
    z-index: 100;

    user-select: none;

    position: relative;
    font-size: var(--sidebar-size);
    overflow-x: visible;

    margin-top: 8px;
    margin-bottom: 8px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;

    height: calc(100vh - 16px);
}
#sidebar .sidebar-tab {
    background-color: light-dark(#ddd, #222);
    color: light-dark(#222, #ddd);

    display: grid;
    grid-template-columns: var(--sidebar-height) auto;
    grid-template-rows: var(--sidebar-height);
    border-radius: 5px;

    width: var(--sidebar-height);
    overflow: hidden;

    padding: 4px;
    margin-bottom: 8px;
    margin-left: 8px;

    transition: width 1s;
}
#sidebar i {
    margin-right: 4px;
}
#sidebar p {
    margin: 0px 0px 0px 4px;
    padding-right: 4px;
}
#sidebar .log-out {
    margin-top: auto;
}

#middle-border {
    margin-left: 10px;
    border: 1px solid light-dark(#aaa, #555);
}

/* Main content */
#main-content {
    overflow-x: hidden;
    overflow-y: hidden;
}

#main-content-scroll-animation {
    height: 100%;
    width: 100%;

    overflow: visible;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 100vh);

    top: 0vh;
    transition: top 1s;

    position: relative;
}
.content-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
}
.content-window {
    overflow: visible;
    
    min-height: calc(100vh - 30px);
    height: auto;

    position: relative;
}
.content-window > * {
    padding-left: 39px;
}
.content-window h1 {
    border-bottom: 2px solid light-dark(#aaa, #555);
    margin: 0px;
    font-weight: bold;
    font-size: 3em;
    padding-bottom: 9px;
    margin-bottom: 20px;
}

/* Projects window */
#projects {
    --margin-top: 10px;
    --margin-bottom: 10px;

    column-gap: 20px;
    column-width: 400px;
    margin-bottom: calc(var(--margin-bottom) + var(--margin-top));

    margin-right: 60px;

    min-height: calc(100vh - 30px - (var(--margin-bottom) + var(--margin-top)));
}

.project {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;

    padding: 0px;

    background-color: light-dark(#ddd, #222);
    color: light-dark(#222, #ddd);
    border-radius: 5px;

    margin: 20px 20px 10px 40px;

    position: relative;
    top: var(--margin-top);
}

.project:nth-child(2) {
    margin-top: calc(var(--margin-top) * -1);
}

.project * {
    padding: 0px;
}

.project .project-name {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;

    border-bottom: 2px solid light-dark(#aaa, #555);

    font-size: 2rem;
    font-weight: bold;
}
.project .project-requester {
    display: inline-block;
    width: calc(50% - 10px);
    margin-left: 10px;
    font-size: 0.75rem;
}
.project .project-requester p {
    margin: 0px;
    color: light-dark(#555, #aaa);
}
.project .project-requester p:nth-child(2) {
    font-size: 1rem;
    color: light-dark(#111, #eee);
}
.project .project-executor {
    display: inline-block;
    width: calc(50% - 10px);
    margin-right: 10px;
    font-size: 0.75rem;
}
.project .project-executor p {
    margin: 0px;
    color: light-dark(#555, #aaa);
}
.project .project-executor p:nth-child(2) {
    font-size: 1rem;
    color: light-dark(#111, #eee);
}
.project .project-description {
    margin: 10px 10px 0px 10px;
    color: light-dark(#555, #aaa);
}
.project .project-description::after {
    content: "";
    display: block;

    margin: 5px 20px 0px 20px;

    border-top: 2px solid light-dark(#aaa, #555);
}
.project .project-links {
    margin: 2px 10px 5px 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;

    color: light-dark(#111, #eee);
    font-size: 1rem;
}
.project .project-links a:visited {
    color: light-dark(#111, #eee);
}
/* Inspiration */
.inspiration-label {
    border-radius: 2px;
    color: #111;
    padding: 2px 4px 4px 0px!important;
    margin: 1px!important;
    background-color: #666;
}
.inspiration-label::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: light-dark(#111, #111);
    display: inline-block;
    margin: 0px 5px 2px 5px;
}

/* Tutorials */
#tutorials p {
    color: light-dark(#555, #aaa);
    margin: 0px;
}
#tutorials .tutorial {
    border-radius: 5px;

    width: 100%;
    height: auto;
    overflow: hidden;

    user-select: none;
    cursor: pointer;
}
#tutorials .tutorial i {
    color: light-dark(#555, #aaa);
    font-size: 2.5rem;
    text-align: center;
    display: block;

    transition: color 0.5s;
}
#tutorials .tutorial:hover i {
    color: light-dark(#333, #ccc);
}
#tutorials .tutorial p {
    color: light-dark(#111, #eee);
    text-align: center;
    display: block;
    font-size: 1rem;
}
#tutorials #folders,
#tutorials #files {
    column-gap: 20px;
    column-width: 100px;
}
#tutorials #on-file-drag {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    z-index: 100;

    background-color: light-dark(#eee, #111);

    align-items: center;
    justify-content: center;

    display: none;
    opacity: 0;

    transition: opacity 1s;
}
#tutorials #on-file-drag.files-hover {
    opacity: 1;
}
#tutorials #on-file-drag * {
    pointer-events: none;
}
#tutorials #file-navigation {
    border-bottom: 2px solid light-dark(#aaa, #555);
    margin: -10px 20px 10px 20px;
    padding: 0px 19px 10px 19px;

    user-select: none;
}
#tutorials #file-navigation i {
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    color: light-dark(#555, #aaa);;
}
#tutorials #file-navigation i:first-child {
    margin-top: -3px;
    margin-right: 10px;
    color: light-dark(#111,#eee);

    cursor: pointer;
}
#tutorials #file-navigation i:not(:first-child) {
    font-size: 0.75rem;
    font-weight: normal;
}
#tutorials #file-navigation p {
    font-size: 1rem;
    display: inline-block;
    color: light-dark(#111, #eee);
    margin: 0px 10px 0px 10px;

    cursor: pointer;
}

/* Suggestions */
.split-screen {
    height: calc(100vh - 120px);

    min-width: 690px;
}
.split-screen > * {
    display: inline-block;

    width: calc(50% - 30px);
    height: calc(100% - 20px);

    margin: 10px 10px 10px 10px;

    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: thin;
    scrollbar-color: light-dark(#aaa, #555);
}
.split-screen > *:nth-child(1) {
    border-right: 2px solid light-dark(#aaa, #555);
}

#project-suggestion {
    position: relative;
    min-width: 320px;
}

#suggestions h2 {
    margin: 0px 20px 0px 0px;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 9px;
}
#suggestions h3 {
    margin: 0px 20px 0px 0px;
    font-weight: bold;
    font-size: 1.25rem;
}
#suggestions p {
    color: light-dark(#555, #aaa);
    font-size: 1rem;
    margin: 0px 0px 0px 20px;
}

#suggestions #links {
    position: relative;
}
#suggestions .where-to-find-you {
    margin-top: 20px;
    margin-bottom: 5px;
}

#project-suggestion-wrong {
    left: calc(30% + 10px);
}

#project-succes-page {
    display: none;

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    background-color: light-dark(#eee, #111);
    opacity: 0;

    transition: opacity 0.5s;

    z-index: 100000;
}
#project-succes-page i {
    display: block;
    font-size: 4rem;
    text-align: center;
}
#project-succes-page h2 {
    margin-top: 50px;
}
#project-succes-page p {
    color: light-dark(#111, #eee);
}

#inspiration-suggestions {
    min-width: 320px;
    position: relative;
}
#inspiration-suggestions #inspiration-url {
    margin: 0 auto;
    display: block;
}
#inspiration-suggestions .labels {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: calc(70% - 40px);
    
    margin: 0px 20px 5px 0px;
}
#inspiration-suggestions .inspiration-label {
    color: #111!important;
    cursor: pointer;
    transition: background-color 0.3s;
    user-select: none;
}
#inspiration-suggestions #preview {
    margin: 10px auto;
    width: fit-content;
}
#inspiration-suggestions .thumbnail {
    aspect-ratio: 16/9;
    height: 175px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 12px;
    outline: none;
    border: 0;

    background-size: contain;
}
#inspiration-suggestions .bottom-video {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    align-items: center;
}
#inspiration-suggestions .channel-thumbnail {
    aspect-ratio: 1/1;
    height: 36px;
    border-radius: 100%;
    background-color: rgba(255,255,255,0.1);

    display: inline-block;

    background-size: contain;
}
#inspiration-suggestions .channel-info-block {
    display: inline-block;
    margin-left: 20px;
}
#inspiration-suggestions .channel-info {
    background-color: rgba(255,255,255,0.1);
    border-radius: 5px;
    width: 200px;
    height: 15px;

    display: block;

    margin: 6px 0px 4px 0px;
}
#inspiration-suggestions .channel-info:not(:first-child) {
    width: 150px;
}
#inspiration-suggestion p {
    color: light-dark(#555, #aaa);
}
#inspiration-suggestions #label-selector p {
    color: light-dark(#111, #eee);
    margin-left: 40px;
}

#inspiration-succes-page {
    display: none;

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    background-color: light-dark(#eee, #111);
    opacity: 0;

    transition: opacity 0.5s;

    z-index: 100000;
}
#inspiration-succes-page i {
    display: block;
    font-size: 4rem;
    text-align: center;
}
#inspiration-succes-page h2 {
    margin-top: 50px;
}
#inspiration-succes-page p {
    color: light-dark(#111, #eee);
}

/* Footer */
.footer {
    display: flex;
    column-gap: 5px;
    align-items: center;

    margin-bottom: 2px;
}
.footer a {
    margin-left: 5px;
    font-size: 1.5rem;
    color: light-dark(#111, #eee);
}
.footer a:visited {
    color: light-dark(#111, #eee);
}
.footer .copyright {
    margin-left: auto;
    margin-right: 10px;
    font-size: 1rem;
    
    user-select: none;
}

/* Loggin */
#login-window {
    display: flex;
    align-items: center;
    justify-content: center;

    height: calc(100% - 90px);
}
#login-window > form {
    border: 2px solid light-dark(#aaa, #555);
    padding: 5px;
    border-radius: 5px;
}

#login-window .iconed {
    display: flex;

    margin: 10px 10px 0px 10px;
}
#login-window label {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
}
#login-window i {
    width: 44px;
    font-size: 2rem;
    background-color: light-dark(#eee, #111);
    color: light-dark(#111, #eee);
}
#login-window input {
    flex-grow: 1;
}

#login-window p {
    margin: 5px 10px 0px 10px;
}

/* User */
#logged-in-window {
    column-gap: 20px;
    column-width: 330px;
    min-height: calc(100% - 87px);
}
#logged-in-window > * {
    position: relative;

    background-color: light-dark(#ddd, #222);
    border-radius: 5px;

    padding: 10px;

    box-sizing: border-box;
    overflow: hidden;
}
#logged-in-window h2 {
    border-bottom: 2px solid light-dark(#aaa, #555);
    margin: 0px;
    font-weight: bold;
    font-size: 2em;
    padding: 0px 20px 5px 20px;
    margin-bottom: 5px;
}
#logged-in-window p {
    display: inline-block;
    margin: 5px 0px 5px 0px;
}
#logged-in-window i {
    display: inline-block;
    font-size: 2rem;
    vertical-align: middle;
}
#logged-in-window input[type="submit"],
#logged-in-window button {
    width: calc(100% - 20px);
    margin: 20px 10px 5px 10px;
}

#approve-suggestions .suggestion {
    padding: 10px;
    margin: 0px 20px 0px 20px;
    border-top: 2px solid light-dark(#aaa, #555);

    display: grid;
    grid-template-columns: auto 1fr auto;

    top: 0px;
}
#approve-suggestions .suggestion:nth-child(1) {
    border: 0px;
}
#modify-users h2 {
    margin-bottom: -1.5px;
}
#approve-suggestions .suggestion i:nth-child(1) {
    display: inline-block;
    margin: 0px 10px 0px 0px;
}
#approve-suggestions .suggestion i:nth-child(3) {
    font-size: 1.25rem;
    line-height: 2rem;
}
#approve-suggestions .suggestion p {
    display: inline-block;
    margin: 0px;
    line-height: 2rem;
}
#select-suggestion {
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: light-dark(#aaa, #555);

    max-height: 214px;
}
#approve-suggestions button {
    margin-top: 0px;
}
#approve-suggestion::backdrop {
    backdrop-filter: blur(2px);
}
#approve-suggestion {
    border-radius: 10px;

    background-color: light-dark(#eee, #111);

    border: 2px solid light-dark(#aaa, #555);

    min-width: 100px;
    min-height: 100px;
    width: 80vw;
    max-width: 500px;
}
#approve-suggestion input[type="submit"] {
    display: inline-block;
    width: calc(50% - 20px);;
}
#approve-suggestion #deny {
    background-color: light-dark(#B90E0A, #B90E0A);
    border: 0px;
    transition: background-color 1s;
}
#approve-suggestion #deny:hover {
    background-color: light-dark(#E3242B, #E3242B);
}
#approve-suggestion #accept {
    background-color: light-dark(#00712D, #00712D);
    border: 0px;
    transition: background-color 1s;
}
#approve-suggestion #accept:hover {
    background-color: light-dark(#3CB043, #3CB043);
}

#modify-users {
    max-height: 322px;
    height: 100vh;
}
#modify-users .hide-overflow {
    overflow-x: hidden;

    height: 100%;
}
#logged-in-window .user {
    padding: 10px;
    margin: 0px 20px 0px 20px;
    border-top: 2px solid light-dark(#aaa, #555);

    display: grid;
    grid-template-columns: auto 1fr auto;

    top: 0px;
}
#logged-in-window .user:nth-child(2) {
    border: 0px;
}
#modify-users h2 {
    margin-bottom: -1.5px;
}
#logged-in-window .user i:nth-child(1) {
    display: inline-block;
    margin: 0px 10px 0px 0px;
}
#logged-in-window .user i:nth-child(3) {
    font-size: 1.25rem;
    line-height: 2rem;
}

#logged-in-window .user p {
    display: inline-block;
    margin: 0px;
    line-height: 2rem;
}

#logged-in-window .next-to-each-other {
    position: relative;

    display: grid;
    grid-template-columns: 50% 50%;

    left: 0%;
    transition: left 1s;

    height: 100%;
    width: 200%;

    overflow-x: hidden;
}
#modify-user-users {
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: light-dark(#aaa, #555);
}
#modify-user-screen .user {
    border: 0px solid rgba(0,0,0,0);
    margin-bottom: -10px;
}

#modify-user-screen .slider-toggle {
    --width: 45px;
    --height: 24px;
    margin-left: 10px;
}
#modify-user-screen label {
    display: inline-block;
    font-size: 1rem;
    color: light-dark(#111, #eee);
    margin-left: 10px;
}
#modify-user-screen #delete-user {
    background-color: light-dark(#B90E0A, #B90E0A);
    border: 0px;
    transition: background-color 1s;
}
#modify-user-screen #delete-user:hover {
    background-color: light-dark(#E3242B, #E3242B);
}
#modify-user-screen #cancel {
    display: inline-block;
    width: calc(50% - 18px);

    margin: 5px 0px 5px 10px;
}
#modify-user-screen #change {
    display: inline-block;
    width: calc(50% - 18px);

    margin: 5px 10px 5px 10px;
    padding: 12px 10px;
}






#modify-labels i {
    line-height: 23px;
    cursor: pointer;
}
#modify-labels > i {
    line-height: 43px;
}
#modify-labels input[type="text"] {
    display: inline-block;
    width: calc(100% - 40px - 50px);
}
#modify-labels #label-categories {
    margin-bottom: 10px;
}
#modify-labels .category {
    margin: 0px 20px 10px 20px;
    padding-top: 5px;
}
#modify-labels .category:not(:first-child) {
    border-top: 2px solid light-dark(#bbb, #555);
}
#modify-labels .category > p {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0px;
}
#modify-labels .category i {
    font-size: 1.25rem;
    font-weight: bold;
    margin-right: 10px;
}
#modify-labels .category .top {
    display: flex;
    align-items: center;
    cursor: grab;
    user-select: none;
}
#modify-labels .category .top .collapse {
    transition: transform 1s;
}
#modify-labels .category .top .edit {
    margin-right: 10px;
    margin-left: auto;
}
#modify-labels .category .top .delete {
    margin-right: 0px;
}
#modify-labels .labels {
    margin: 0px 0px 0px 40px;
    font-size: 1rem;

    overflow: hidden;
    max-height: 0px;

    transition: max-height 1s;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#modify-labels .labels p {
    margin: 0px;
}
#modify-labels .labels i {
    font-size: 1.25rem;
    line-height: 31px;
    margin-right: 3px;
    margin-top: 5px;
}
#modify-labels .labels input,
#modify-labels .labels button {
    padding: 6px 10px;
    margin-top: 5px;
    display: inline-block;
}
#modify-labels .labels button {
    margin: 5px 5px;
    font-size: 0.77rem;
    color: #111;
    border: none;
    width: 31px;
    height: 31px;
    padding: 0px;
}
#modify-labels .labels button i {
    margin: 0px;
}
#modify-labels .inspiration-label {
    cursor: grab;
    user-select: none;
}
#modify-labels .inspiration-label .content {
    cursor: text;
    outline: none;
}
#modify-labels #delete-draggables {
    background-color: light-dark(#B90E0A, #B90E0A);
    margin: 10px -10px -10px -10px;
    transition: background-color 1s;
    padding: 5px 10px;

    transition: margin 1s, padding 1s, height 1s;
    overflow: hidden;
}
#modify-labels #delete-draggables i {
    font-size: 1.25rem;
    margin-right: 5px;
}
#modify-labels #delete-draggables:hover {
    background-color: light-dark(#E3242B, #E3242B);
}