@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,600&display=swap');

:root {
    color-scheme: light dark;
    background-color: var(--background);
    color: var(--prominent-text);

    --background: light-dark(#111, #111);
    --prominent-background: light-dark(#222, #222);
    --extra-prominent-background: light-dark(#3A3A3A, #3A3A3A);
    --prominent-text: light-dark(#EEE, #EEE);
    --normal-text: light-dark(#AAA, #AAA);
    --non-prominent-text: light-dark(#777, #777);
    --seperator: light-dark(#444, #444);
    --border: light-dark(#444, #444);
    --label: light-dark(#CCC, #CCC);
    --prominent-label: light-dark(#FFF, #FFF);
    --yt-video: light-dark(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    --yt-description: light-dark(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    --input-border: light-dark(#777, #777);
    --conformation: light-dark(#00712D, #00712D);
    --denial: light-dark(#B90E0A, #B90E0A);
    --checkbox: light-dark(#292929, #292929);
    --checkbox-hover: light-dark(#444, #444);
    --popover-background: rgba(0,0,0,0.1);
    --accent: light-dark(#0f4d92, #0f4d92);

    --small-border-radius: 5px;
    --big-border-radius: 10px;

    --border-width: 1px;

    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "GRAD" 0;
}
input, textarea {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "GRAD" 0;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}


/* + ======================================================================== +
/* | Text                                                                     |
/* + ========================================================================*/
h1 {
    color: light-dark(#CCC, #CCC);
    font-size: 3rem;
    padding: 2px 30px;
    margin: 5px 0px;
    border-bottom: solid var(--border-width) var(--seperator);
    text-transform: uppercase;
}
h2 {
    color: var(--normal-text);
    font-size: 2rem;
    margin: 10px 0px;
}
h2.card-title {
    font-size: 1.75rem;

    margin: 5px;
    padding: 0px 30px;
    border-bottom: var(--border-width) solid var(--border);

    color: var(--prominent-text);
}
p {
    color: var(--normal-text);
    font-size: 0.75rem;
    margin: 15px 0px 5px 15px;
}
a {
    color: var(--normal-text);
    font-size: 0.75rem;
    margin: 0px;
}


/* + ======================================================================== +
/* | Input & textareas & buttons                                              |
/* + ========================================================================*/
label:has(+input),
label:has(+textarea),
label:has(+.auto-grow) {
    margin-left: 30px;
    font-size: 0.875rem;
}
input:not(.iconed *),
textarea,
button {
    position: relative;

    width: calc(100% - 40px);

    background-color: var(--background);
    color: var(--prominent-text);
    border: var(--border-width) solid var(--input-border);
    border-radius: var(--small-border-radius);
    transition: border 0.5s, z-index 0.5s;

    z-index: 0;

    padding: 12px 20px;
    margin: 1px 20px 10px 20px;

    overflow-y: hidden;
    resize: none;
    vertical-align: top;

    display: block;
    
    outline: none;

    font-size: 0.75rem;
}
input::placeholder,
textarea::placeholder {
    color: var(--non-prominent-text);
    opacity: 1;
}
input:not(.iconed *):focus,
textarea:focus {
    border: var(--border-width) solid var(--normal-text);
    z-index: 100;
}

input[type="submit"] {
    width: calc(100% - 20px);
    margin: 30px 10px 0px 10px;;
}
input[type="submit"]:focus,
button:focus {
    border: var(--border-width) solid var(--normal-text);
    z-index: 100;
}
input[type="submit"]:focus:hover,
button:focus:hover {
    border: var(--border-width) solid var(--normal-text);
    z-index: 100;
}
input[type="submit"]:hover,
button:hover {
    border: var(--border-width) solid var(--normal-text);
    z-index: 100;
}


/* + ======================================================================== +
/* | Iconed input                                                             |
/* + ========================================================================*/
.iconed {
    display: flex;
    align-items: center;
    border: var(--border-width) solid var(--input-border);
    border-radius: var(--small-border-radius);
    background-color: var(--background);

    margin: 0px 20px 10px 20px;
    padding: 5px 10px;

    transition: border 0.5s;
}
.iconed:has(> input:focus) {
    border: var(--border-width) solid var(--normal-text);
}
.iconed > input {
    outline: none;
    border: none;
    background-color: rgba(0,0,0,0);
    font-size: 0.75rem;
    color: var(--prominent-text);

    padding: 7px 10px;
    flex: 1;
}
.iconed > label {
    margin-left: 0px;
}
.iconed > label > i {
    font-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
}


/* + ======================================================================== +
/* | Auto growing textareas                                                   |
/* + ========================================================================*/
/* https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ */
.auto-grow {
    display: grid;
}
.auto-grow > textarea,
.auto-grow::after {
    width: 100%; 

    grid-area: 1 / 1 / 2 / 2;

    padding: 12px 20px;
    margin: 0px;

    font-size: 0.75rem;
}
.auto-grow::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}


/* + ======================================================================== +
/* | Inline label                                                             |
/* + ========================================================================*/
label.inline {
    display: inline-block;
    width: calc(30% - 10px);
    margin: 0px 0px 7px 50px;
    padding: 12px 0px;

    font-size: 0.875rem;
}
label.inline + input,
label.inline + textarea,
label.inline + .iconed,
label.inline + .auto-grow,
label.inline + .inline-input {
    width: calc(70% - 65px);
    margin: 0px 20px 5px 0px;
    display: inline-block;
}
label.inline + .auto-grow {
    display: inline-grid;
}
input,
textarea,
.iconed,
.auto-grow,
.inline-input {
    vertical-align: top;
}


/* + ======================================================================== +
/* | Checkbox                                                                 |
/* + ========================================================================*/
span:has(>input[type="checkbox"]) {
    position: relative;

    display: inline-block;

    width: 16px;
    height: 16px;

    background-color: var(--extra-prominent-background);
    border-radius: var(--extra-small-border-radius);

    transition: background-color 0.5s;

    margin-left: 5px;
}
span:has(>input[type="checkbox"]):hover {
    background-color: var(--checkbox-hover);
}
span:has(>input[type="checkbox"])::before {
    transform-origin: bottom left;
    clip-path: polygon(15.625% 43.75%, 7.5% 46.875%, 37.5% 76.5625%, 89.0625% 25%, 82.8125% 18.75%, 37.5% 64.0625%);

    background-color: var(--normal-text);

    content: "";
    width: 16px;
    height: 16px;
    display: inherit;

    position: absolute;
    top: 0px;
    left: 0px;

    transform: scale(0) rotate(-45deg);
    transitioN: transform 0.2s;
}
span:has(>input[type="checkbox"]:checked)::before {
    transform: scale(1) rotate(0deg);
}
input[type="checkbox"] {
    display: inline-block;

    width: 16px;
    height: 16px;

    margin: 0px;

    opacity: 0;
}
span:has(>input[type="checkbox"]) + label {
    display: inline-block;
    margin: 0px 0px 0px 10px;
    width: calc(100% - 55px);
    vertical-align: middle;
    font-size: 0.75rem;
    color: var(--normal-text);
}


/* + ======================================================================== +
/* | Dropdown select list                                                     |
/* + ========================================================================*/
.select {
    position: relative;
    display: inline-block;
    width: fit-content;

    font-size: 0.75rem;
    color: var(--normal-text);

    cursor: pointer;
    user-select: none;
}
.select .active {
    display: inline-block;
    width: fit-content;
}
.select .active::after {
    content: "\f078";
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    
    margin-left: 10px;
}
.select .dropdown {
    position: absolute;
    z-index: 100;
    left: -10px;
    top: calc(100% + 2px);

    transform: translateY(-16px);
    opacity: 0;
    visibility: hidden;

    transition: opacity 0.5s ease-in-out 0.1s, transform ease-in-out 0.5s 0.1s, visibility 0.5s ease-in-out allow-discrete 0.1s, background-color 0.2s ease-in-out;
    
    background-color: rgba(0,0,0,0);
    padding: 5px;

    border-radius: var(--extra-small-border-radius);
}

.select.open .dropdown {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;

    background-color: var(--prominent-background);

    transition: opacity 0.5s ease-in-out, transform ease-in-out 0.5s, visibility 0.5s ease-in-out allow-discrete, background-color 0.2s ease-in-out 0.3s;
}
.select .dropdown > * {
    padding: 5px;
    transition: background-color 0.5s;
}
.select .dropdown > *:hover {
    background-color: var(--extra-prominent-background);
    border-radius: var(--extra-small-border-radius);
}


/* + ======================================================================== +
/* | Split window and seperators                                              |
/* + ========================================================================*/
.split-window {
    display: grid;
    grid-template-columns: calc(50% - 25px) calc(50% - 25px);
}
.split-window > *:not(button, input) {
    position: relative;
    padding: 0px 10px 0px 30px;
}
.split-window.seperator > :first-child::after {
    content: "";
    position: absolute;
    right:0px;
    top: 20px;
    height: calc(100% - 40px);
    width: var(--border-width);
    background-color: var(--seperator);
}
hr {
    color: var(--seperator);
    margin: 0px 10px;
}


/* + ======================================================================== +
/* | Tooltips                                                                 |
/* + ========================================================================*/
*:has(> .tooltip) {
    position: relative;
}
.tooltip {
    position: absolute;
    margin: 0;

    background-color: var(--extra-prominent-background) !important;
    color: var(--prominent-text) !important;
    padding: 6px !important;
    border-radius: var(--small-border-radius) !important;

    z-index: 100000;

    opacity: 0 !important;
    transition: opacity 0.5s, visibility 0.5s allow-discrete !important;
    visibility: hidden !important;

    text-wrap: nowrap !important;
    line-height: 1rem;
    font-size: 0.75rem;

    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "GRAD" 0;
}
*:hover > .tooltip:not(.js-controlled) {
    transition-delay: 1s !important;
}
*:hover > .tooltip:not(.js-controlled),
.tooltip.js-controlled.open {
    opacity: 1 !important;
    visibility: visible !important;
}
.tooltip:before {
    content: "";

    background-color: var(--extra-prominent-background);
    display: inline-block;
    width: 8px;
    height: 8px;
    rotate: 45deg;

    z-index: -100;

    position: absolute;
}
.tooltip.right {
    top: 50%;
    transform: translate(0, -50%);
    left: 100%;
}
.tooltip.right:before {
    top: calc(50% - 4px);
    left: -4px;
}
.tooltip.bottom {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}
.tooltip.bottom:before {
    top: -4px;
    left: calc(50% - 4px);
}


/* + ======================================================================== +
/* | Form error screen                                                        |
/* + ========================================================================*/
form:has(.form-succes-screen) {
    position: relative;
}
.form-succes-screen > * {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-succes-screen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background);    
    z-index: 100000000000;
    padding-top: 16px;
}
.form-succes-screen i {
    font-size: 2rem;
}


/* + ======================================================================== +
/* | Popover                                                                  |
/* + ========================================================================*/
[popover]::backdrop {
    backdrop-filter: blur(3px);
    background-color: var(--popover-background);
}
[popover] {
    position: fixed;
    width: 100%;
    height: 100%;

    border: none;
    background-color: rgba(0,0,0,0);

    color: var(--prominent-text);

    visibility: hidden;

    overflow: auto;

    z-index: 1000;

    display: flex;
}
[popover]:popover-open {
    visibility: visible;
}

*:has([popover]:popover-open) {
    overflow: hidden;
}

[popover]>.content {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

[popover]>.content:not(:has(>.left,>.middle,>.right)),
[popover]>.content>.left,
[popover]>.content>.middle>.top,
[popover]>.content>.middle>.bottom,
[popover]>.content>.middle:not(:has(>.top,>.bottom)),
[popover]>.content>.right {
    border: var(--border-width) solid var(--border);
    border-radius: var(--big-border-radius);
    padding: 15px;
    overflow: auto;
    background-color: var(--background);

    transform: translateY(-16px);
    opacity: 0;

    transition: opacity 0.5s ease-in-out, transform ease-in-out 0.5s, visibility 0.5s ease-in-out allow-discrete;
}
[popover]>.content:has(>.left,>.middle,>.right) {
    display: grid;
    grid-template-columns: fit-content fit-content fit-content;
    grid-template-areas: 
        'left middle right';
}
[popover]>.content>.left,
[popover]:popover-open>.content>.left.closed {
    grid-area: left;

    border-radius: var(--big-border-radius) 0px 0px var(--big-border-radius);
    border-right: none;
    transform: translateX(-16px);

    opacity: 0;
    visibility: hidden;
}
[popover]>.middle {
    grid-area: middle;
}
[popover]>.content>.middle:not(:has(>.top, >.bottom)),
[popover]:popover-open>.content>.middle.closed:not(:has(>.top, >.bottom)),
[popover]>.content>.middle>.top,
[popover]:popover-open>.content>.middle>.top.closed {
    border-radius: var(--big-border-radius);
    transform: translateY(-16px);

    opacity: 0;
    visibility: hidden;
}
[popover]>.content>.middle>.bottom,
[popover]:popover-open>.content>.middle>.bottom.closed {
    border-radius: 0px 0px var(--big-border-radius) var(--big-border-radius);
    border-top: none;
    transform: translateY(16px);

    opacity: 0;
    visibility: hidden;
}
[popover]>.content>.right,
[popover]:popover-open>.content>.right.closed {
    grid-area: right;

    border-radius: 0px var(--big-border-radius) var(--big-border-radius) 0px;
    border-left: none;
    transform: translateX(16px);

    opacity: 0;
    visibility: hidden;
}
[popover]:popover-open>.content:not(:has(>.left,>.middle,>.right)),
[popover]:popover-open>.content>.left,
[popover]:popover-open>.content>.middle>.top,
[popover]:popover-open>.content>.middle>.bottom,
[popover]:popover-open>.content>.middle:not(:has(>.top,>.bottom)),
[popover]:popover-open>.content>.right {
    transform: none;
    opacity: 1;
    visibility: visible;
}


/* + ======================================================================== +
/* | Website                                                                  |
/* + ========================================================================*/
.website {
    display: inline-grid;

    width: 311.11px;
    height: 217px;

    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;

    grid-template-areas:
        "cont cont"
        "icon info1"
        "icon info2";
}
.website .website-content {
    grid-area: cont;

    aspect-ratio: 16/9;
    height: 175px;
    background-color: var(--yt-video);
    border-radius: 12px;
    outline: none;
    border: 0;

    background-size: contain;
}
.website .website-author-icon {
    grid-area: icon;

    aspect-ratio: 1/1;
    height: 36px;
    border-radius: 100%;
    background-color: var(--yt-description);

    display: inline-block;

    background-size: contain;

    margin-top: 6px;
}
.website .website-author-name,
.website .website-extra-info {
    grid-area: info1;

    background-color: var(--yt-description);
    color: var(--prominent-text);
    border-radius: var(--small-border-radius);
    width: 200px;
    height: 15px;

    display: block;

    margin: 6px 0px 0px 15px;
}
.website .website-extra-info {
    grid-area: info2;
    width: 150px;
}


/* + ======================================================================== +
/* | Inspiration labels                                                       |
/* + ========================================================================*/
.label {
    border-radius: var(--small-border-radius);
    color: var(--label);
    padding: 5px 5px 5px 0px;
    margin: 1px 10px 1px 1px;
    background-color: var(--prominent-background);

    display: inline;

    white-space: nowrap;
    text-overflow: ellipsis;
}
.label::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: var(--label);
    display: inline-block;
    margin: 0px 5px 1px 5px;
}


/* + ======================================================================== +
/* | Remaining general components                                             |
/* + ========================================================================*/
.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading a {
    color: var(--prominent-text);
    font-size: 0.875rem;
    margin-left: 50px;
}
.loading .dot {
    display: inline-block;
    width: 0.3em;
    height: 0.3em;
    border-radius: 100%;
    background-color: var(--prominent-text);
    vertical-align: baseline;
    position: relative;
    top: 0.05em;
    margin-left: 2px;

    opacity: 0;
}
@keyframes first-dot {
    25% {
        opacity: 1;
    }
}
@keyframes second-dot {
    50% {
        opacity: 1;
    }
}
@keyframes third-dot {
    75% {
        opacity: 1;
    }
}
.loading .dot:nth-child(2) {
    animation: first-dot 4s infinite;
}
.loading .dot:nth-child(3) {
    animation: second-dot 4s infinite;
}
.loading .dot:nth-child(4) {
    animation: third-dot 4s infinite;
}



/* + ======================================================================== +
/* | Sidebar                                                                  |
/* + ========================================================================*/
#body {
    margin: 0px!important;
    grid-template-columns: 58px calc(100% - 58px) !important;
    grid-template-rows: 100vh;

    height: 100vh;
}
#sidebar {
    height: 100%;
    padding: 20px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 15px;
}
#sidebar > * {
    row-gap: 15px;
    display: flex;
    flex-direction: column;
}
#sidebar-top {
    margin-top: 0;
    margin-bottom: auto;
}
#sidebar-bottom {
    margin-top: auto;
    margin-bottom: 0;
}
#sidebar i {
    color: var(--non-prominent-text);
    font-size: 2rem;

    transition: color 0.5s;
}
#sidebar i:hover {
    color: var(--prominent-text);
}
#sidebar .tooltip.right {
    left: calc(100% + 15px);
}


/* + ======================================================================== +
/* | Windows                                                                  |
/* + ========================================================================*/
.window {
    display: none;

    overflow-x: hidden;
    overflow-y: auto;

    height: 100vh;
}


/* + ======================================================================== +
/* | Footer                                                                   |
/* + ========================================================================*/
.footer {
    display: flex;
    column-gap: 5px;
    align-items: center;

    margin-bottom: 2px;
}
.footer a {
    margin-left: 5px;
    font-size: 1.5rem;
    color: light-dark(#111, #eee);
}
.footer a:visited {
    color: light-dark(#111, #eee);
}
.footer .copyright {
    margin-left: auto;
    margin-right: 10px;
    font-size: 1rem;
    
    user-select: none;
}
div:has(+.footer) {
    min-height: calc(100vh - 35px);
}


/* + ======================================================================== +
/* | Home window                                                              |
/* + ========================================================================*/



/* + ======================================================================== +
/* | Projects window                                                          |
/* + ========================================================================*/
#projects>div:first-child {
    column-gap: 20px;
    column-width: 400px;

    padding-top: 10px;
}
#projects h1 {
    padding-top: 0px;
    margin-top: 0px;
}
.project {
    display: block;

    border: var(--border-width) solid var(--border);
    border-radius: var(--big-border-radius);

    width: 100%;
    height: auto;
    overflow: hidden;

    margin-top: 20px;
}
.project p {
    margin: 0px 0px 5px 0px;
}
.project .requestor,
.project .executor {
    padding: 0px 15px;
}
.project .requestor p:nth-child(2),
.project .executor p:nth-child(2) {
    color: var(--prominent-text);
}
.project .description {
    margin: 10px 5px;
    padding: 0px 10px 5px 10px;
}
.project .description:has(+.urls) {
    border-bottom: var(--border-width) solid var(--border);
}
.project .urls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;

    margin: 5px 15px;
}
.project .urls a {
    color: var(--prominent-text);
}
.project .urls a:visited {
    color: var(--prominent-text);
}


/* + ======================================================================== +
/* | Projects window popover                                                  |
/* + ========================================================================*/
#project-popover .right {
    max-width: 350px;
}
#project-popover .middle {
    width: 750px;
}
#project-popover .split-window {
    grid-template-columns: repeat( auto-fit, minmax(50%, 1fr) );
}
#project-popover .split-window:nth-child(2) {
    margin-top: 5px;
}
#project-popover .split-window > *:not(button, input) {
    margin: 0px;
    padding: 0px;
    border: none;
}
#project-popover .split-window > *:not(button, input):nth-child(2) {
    margin-left: 10px;
}
#project-popover .description {
    margin: 10px 0px;
    padding: 0px 10px 5px 0px;
}



/* + ======================================================================== +
/* | Inspiration window                                                       |
/* + ========================================================================*/


/* + ======================================================================== +
/* | Files window                                                             |
/* + ========================================================================*/


/* + ======================================================================== +
/* | Suggestion window                                                        |
/* + ========================================================================*/
#suggestions > .split-window {
    min-height: 100%;
    padding-bottom: 20px;
}
label:has(+ #project-link2, + #project-link3) {
    margin-top: -13px;
}
#project-link1 {
    top: 1px;
}
#project-link2,
#project-link3 {
    margin-top: -7px;
}
#inspiration-suggestion1 + .website,
#inspiration-suggestion2 + .website {
    margin-left: 20px;
}
#suggestion-label-selector label.inline {
    margin: 0px 0px 0px 50px;
    padding: 10px 0px;
}
#suggestion-label-selector .inline-input {
    margin: 0px;

    display: inline-flex;
    flex-wrap: wrap;
    row-gap: 2px;

    position: relative;
    top: 5px;
}
#suggestion-label-selector .label {
    transition: color 0.2s, background-color 0.2s;
    user-select: none;
    cursor: pointer;
}



/* + ======================================================================== +
/* | Login popover                                                            |
/* + ========================================================================*/
#login-popover .content {
    overflow: hidden;
}