@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,600&display=swap');

:root {
    color-scheme: light dark;
    background-color: var(--background);
    color: var(--prominent-text);

    --background: #111;
    --prominent-background: #222;
    --extra-prominent-background: #3A3A3A;
    --prominent-text: #EEE;
    --normal-text: #AAA;
    --non-prominent-text: #777;
    --seperator: #444;
    --border: #444;
    --label: #CCC;
    --prominent-label: #FFF;
    --yt-video: rgba(255, 255, 255, 0.2);
    --yt-description: rgba(255, 255, 255, 0.1);
    --input-border: #777;
    --conformation: #00712D;
    --denial: #B90E0A;
    --checkbox: #292929;
    --checkbox-hover: #444;
    --popover-background: rgba(0,0,0,0.1);
    --accent: #0f4d92;

    --extra-small-border-radius: 3px;
    --small-border-radius: 5px;
    --big-border-radius: 10px;

    --border-width: 1px;

    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "GRAD" 0;

    --app-height: 100vh;
}
input, textarea, button {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "GRAD" 0;

    appearance: none;
}
* {
    box-sizing: border-box;
    z-index: 0;
}
body {
    margin: 0;
    background-color:#111;
}


/* + ======================================================================== +
/* | Text                                                                     |
/* + ========================================================================*/
h1 {
    color: #CCC;
    font-size: 3rem;
    padding: 2px 30px;
    margin: 0 0 5px 0;
    border-bottom: solid var(--border-width) var(--seperator);
    text-transform: uppercase;
}
h2 {
    color: var(--normal-text);
    font-size: 2rem;
    margin: 10px 0px;
}
h2.card-title {
    font-size: 1.75rem;

    margin: 5px;
    padding: 0px 30px;
    border-bottom: var(--border-width) solid var(--border);

    color: var(--prominent-text);
}
p {
    color: var(--normal-text);
    font-size: 0.75rem;
    margin: 15px 0px 5px 15px;
}
a {
    color: var(--normal-text);
    font-size: 0.75rem;
    margin: 0px;
}


/* + ======================================================================== +
/* | Input & textareas & buttons                                              |
/* + ========================================================================*/
label {
    font-size: 0.875rem;
    display: block;
}
label:has(+input),
label:has(+textarea),
label:has(+.auto-grow) {
    margin-left: 30px;
}
input:not(.iconed *),
textarea,
button {
    position: relative;

    width: calc(100% - 40px);

    background-color: var(--background);
    color: var(--prominent-text);
    border: var(--border-width) solid var(--input-border);
    border-radius: var(--small-border-radius);
    transition: border 0.5s, z-index 0.5s;

    z-index: 0;

    padding: 12px 20px;
    margin: 1px 20px 10px 20px;

    overflow-y: hidden;
    resize: none;
    vertical-align: top;

    display: block;
    
    outline: none;

    font-size: 0.75rem;
}
input::placeholder,
textarea::placeholder {
    color: var(--non-prominent-text);
    opacity: 1;
}
input:not(.iconed *):focus,
textarea:focus {
    border: var(--border-width) solid var(--normal-text);
    z-index: 100;
}

input[type="submit"] {
    width: calc(100% - 20px);
    margin: 30px 10px 0px 10px;;
}
input[type="submit"]:focus,
button:focus {
    border: var(--border-width) solid var(--normal-text);
    z-index: 100;
}
input[type="submit"]:focus:hover,
button:focus:hover {
    border: var(--border-width) solid var(--normal-text);
    z-index: 100;
}
input[type="submit"]:hover,
button:hover {
    border: var(--border-width) solid var(--normal-text);
    z-index: 100;
}


/* + ======================================================================== +
/* | Iconed input                                                             |
/* + ========================================================================*/
.iconed {
    display: flex;
    align-items: center;
    border: var(--border-width) solid var(--input-border);
    border-radius: var(--small-border-radius);
    background-color: var(--background);

    margin: 0px 20px 10px 20px;
    padding: 5px 10px;

    transition: border 0.5s;
}
.iconed:has(> input:focus) {
    border: var(--border-width) solid var(--normal-text);
}
.iconed > input {
    outline: none;
    border: none;
    background-color: rgba(0,0,0,0);
    font-size: 0.75rem;
    color: var(--prominent-text);

    padding: 7px 10px;
    flex: 1;
}
.iconed > label {
    margin-left: 0px;
}
.iconed > label > i {
    font-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
}


/* + ======================================================================== +
/* | Auto growing textareas                                                   |
/* + ========================================================================*/
/* https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ */
.auto-grow {
    display: grid;
}
.auto-grow > textarea,
.auto-grow::after {
    width: 100%; 

    grid-area: 1 / 1 / 2 / 2;

    padding: 12px 20px;
    margin: 0px;

    font-size: 0.75rem;
}
label:not(.inline) + .auto-grow {
    width: calc(100% - 40px);
    margin: 1px 20px 10px 20px;
}
.auto-grow::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;

    width: 100%;
    box-sizing: border-box;
}


/* + ======================================================================== +
/* | Inline label                                                             |
/* + ========================================================================*/
label.inline {
    display: inline-block;
    width: calc(30% - 10px);
    margin: 0px 0px 7px 50px;
    padding: 12px 0px;

    font-size: 0.875rem;
}
.inline-input {
    width: 100%;
}
label.inline + input,
label.inline + textarea,
label.inline + .iconed,
label.inline + .auto-grow,
label.inline + .inline-input {
    width: calc(70% - 65px);
    margin: 0px 20px 5px 0px;
    display: inline-block;
}
label.inline + .auto-grow {
    display: inline-grid;
}
input,
textarea,
.iconed,
.auto-grow,
.inline-input {
    vertical-align: top;
}


/* + ======================================================================== +
/* | Checkbox                                                                 |
/* + ========================================================================*/
span:has(>input[type="checkbox"]) {
    position: relative;

    display: inline-block;

    width: 16px;
    height: 16px;

    background-color: var(--extra-prominent-background);
    border-radius: var(--extra-small-border-radius);

    transition: background-color 0.5s;

    margin-left: 5px;
}
span:has(>input[type="checkbox"]):hover {
    background-color: var(--checkbox-hover);
}
span:has(>input[type="checkbox"])::before {
    transform-origin: bottom left;
    clip-path: polygon(15.625% 43.75%, 7.5% 46.875%, 37.5% 76.5625%, 89.0625% 25%, 82.8125% 18.75%, 37.5% 64.0625%);

    background-color: var(--normal-text);

    content: "";
    width: 16px;
    height: 16px;
    display: inherit;

    position: absolute;
    top: 0px;
    left: 0px;

    transform: scale(0) rotate(-45deg);
    transitioN: transform 0.2s;
}
span:has(>input[type="checkbox"]:checked)::before {
    transform: scale(1) rotate(0deg);
}
input[type="checkbox"] {
    display: inline-block;

    width: 16px;
    height: 16px;

    margin: 0px;

    opacity: 0;
}
span:has(>input[type="checkbox"]) + label {
    display: inline-block;
    margin: 0px 0px 0px 10px;
    width: calc(100% - 55px);
    vertical-align: middle;
    font-size: 0.75rem;
    color: var(--normal-text);
}


/* + ======================================================================== +
/* | Dropdown select list                                                     |
/* + ========================================================================*/
.select {
    position: relative;
    display: inline-block;
    width: fit-content;

    font-size: 0.75rem;
    color: var(--normal-text);

    cursor: pointer;
    user-select: none;
}
.select .active {
    display: inline-block;
    width: fit-content;
}
.select .active::after {
    content: "\f078";
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    
    margin-left: 10px;
}
.select .dropdown {
    position: absolute;
    z-index: 100;
    left: -10px;
    top: calc(100% + 2px);

    transform: translateY(-16px);
    opacity: 0;
    visibility: hidden;

    transition: opacity 0.5s ease-in-out 0.1s, transform ease-in-out 0.5s 0.1s, visibility 0.5s ease-in-out allow-discrete 0.1s, background-color 0.2s ease-in-out;
    
    background-color: rgba(0,0,0,0);
    padding: 5px;

    border-radius: var(--extra-small-border-radius);
}

.select.open .dropdown {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;

    background-color: var(--prominent-background);

    transition: opacity 0.5s ease-in-out, transform ease-in-out 0.5s, visibility 0.5s ease-in-out allow-discrete, background-color 0.2s ease-in-out 0.3s;
}
.select .dropdown > * {
    padding: 5px;
    transition: background-color 0.5s;
}
.select .dropdown > *:hover {
    background-color: var(--extra-prominent-background);
    border-radius: var(--extra-small-border-radius);
}


/* + ======================================================================== +
/* | Slider toggle                                                            |
/* + ========================================================================*/
.slider-toggle {
    --width: 45px;
    --height: 24px;

    position: relative;
    display: inline-block;
    width: calc(var(--width) + 4px);
    height: calc(var(--height) + 4px);

    background-color: var(--extra-prominent-background);

    border-radius: calc(var(--height) / 2);

    transition: border 0.4s, margin 0.4s, background-color .4s;

    top: calc(var(--height) / -2 + 8px);
    margin-right: 10px;
}
.slider-toggle:has(input:checked) {
    background-color: var(--conformation);
}
.slider-toggle input {
    width: 0px;
    height: 0px;
    opacity: 0;
    vertical-align: middle;
}
.slider-toggle .internal-slider {
    display: inline-block;
    width: var(--height);
    height: var(--height);
    background-color: var(--background);
    border-radius: 100%;

    position: absolute;
    top: 2px;
    left: 4px;

    transition: left .4s, width .4s, height .4s, top .4s, left .4s;
}
.slider-toggle:has(input:active) .internal-slider {
    width: calc(var(--height) - 2px);
    height: calc(var(--height) - 2px);

    top: 3.5px;
    left: 5px;
}
.slider-toggle input:checked + .internal-slider {
    left: calc(var(--width) - var(--height));
}


/* + ======================================================================== +
/* | Split window and seperators                                              |
/* + ========================================================================*/
.split-window,
.split-window .horizontal {
    display: grid;
    grid-template-columns: calc(50% - 25px) calc(50% - 25px);
}
.split-window .vertical {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-gap: 100px;
}
.split-window .vertical.small-gap {
    grid-gap: 20px;
}
.split-window > *:not(button, input) {
    position: relative;
    padding: 0px 10px 0px 30px;
}
.split-window.seperator:not(.vertical) > :first-child::after {
    content: "";
    position: absolute;
    right:0px;
    top: 20px;
    height: calc(100% - 40px);
    width: var(--border-width);
    background-color: var(--seperator);
}
.split-window.seperator.vertical > :first-child::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -60px;
    height: var(--border-width);
    width: 100%;
    background-color: var(--seperator);
}
.split-window.seperator.vertical.small-gap > :first-child::after {
    bottom: -10px;
}
hr {
    color: var(--seperator);
    margin: 0px 10px;
}


/* + ======================================================================== +
/* | Tooltips                                                                 |
/* + ========================================================================*/
*:has(> .tooltip) {
    position: relative;
}
.tooltip {
    position: absolute;
    margin: 0;

    background-color: var(--extra-prominent-background) !important;
    color: var(--prominent-text) !important;
    padding: 0px !important;
    border-radius: var(--small-border-radius) !important;

    z-index: 100000;

    opacity: 0 !important;
    transition: opacity 0.5s, visibility 0.5s allow-discrete !important;
    visibility: hidden !important;

    text-wrap: nowrap !important;
    line-height: 1rem;
    font-size: 0.75rem;

    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "GRAD" 0;
}
*:hover > .tooltip:not(.js-controlled) {
    transition-delay: 1s !important;
}
*:hover > .tooltip:not(.js-controlled),
.tooltip.js-controlled.open {
    opacity: 1 !important;
    visibility: visible !important;
    padding: 6px!important;
}
.tooltip:before {
    content: "";

    background-color: var(--extra-prominent-background);
    display: inline-block;
    width: 8px;
    height: 8px;
    rotate: 45deg;

    z-index: -100;

    position: absolute;
}
.tooltip.right {
    top: 50%;
    transform: translate(0, -50%);
    left: 100%;
}
.tooltip.right:before {
    top: calc(50% - 4px);
    left: -4px;
}
.tooltip.bottom {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}
.tooltip.bottom:before {
    top: -4px;
    left: calc(50% - 4px);
}


/* + ======================================================================== +
/* | Form error screen                                                        |
/* + ========================================================================*/
form:has(.form-succes-screen) {
    position: relative;
}
.form-succes-screen > * {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-succes-screen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background);    
    z-index: 100000000000;
    padding-top: 16px;
}
.form-succes-screen i {
    font-size: 2rem;
}


/* + ======================================================================== +
/* | Popover                                                                  |
/* + ========================================================================*/
[popover]::backdrop {
    backdrop-filter: blur(3px);
    background-color: var(--popover-background);
}
[popover] {
    position: fixed;
    width: 100%;
    height: 100%;

    border: none;
    background-color: rgba(0,0,0,0);

    color: var(--prominent-text);

    visibility: hidden;

    overflow: auto;

    z-index: 1000;

    display: flex;
}
[popover]:popover-open {
    visibility: visible;
}

*:has([popover]:popover-open) {
    overflow: hidden;
}

[popover]>.content {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

[popover]>.content:not(:has(>.left,>.middle,>.right)),
[popover]>.content>.left,
[popover]>.content>.middle>.top,
[popover]>.content>.middle>.bottom,
[popover]>.content>.middle:not(:has(>.top,>.bottom)),
[popover]>.content>.right {
    border: var(--border-width) solid var(--border);
    border-radius: var(--big-border-radius);
    padding: 15px;
    overflow: auto;
    background-color: var(--background);

    transform: translateY(-16px);
    opacity: 0;

    transition: opacity 0.5s ease-in-out, transform ease-in-out 0.5s, visibility 0.5s ease-in-out allow-discrete;
}
[popover]>.content:has(>.left,>.middle,>.right) {
    display: grid;
    grid-template-columns: fit-content fit-content fit-content;
    grid-template-areas: 
        'left middle right';
}
[popover]>.content>.left,
[popover]:popover-open>.content>.left.closed {
    grid-area: left;

    border-radius: var(--big-border-radius) 0px 0px var(--big-border-radius);
    border-right: none;
    transform: translateX(-16px);

    opacity: 0;
    visibility: hidden;
}
[popover]>.middle {
    grid-area: middle;
}
[popover]>.content>.middle:not(:has(>.top, >.bottom)),
[popover]:popover-open>.content>.middle.closed:not(:has(>.top, >.bottom)),
[popover]>.content>.middle>.top,
[popover]:popover-open>.content>.middle>.top.closed {
    border-radius: var(--big-border-radius);
    transform: translateY(-16px);

    opacity: 0;
    visibility: hidden;
}
[popover]>.content>.middle>.bottom,
[popover]:popover-open>.content>.middle>.bottom.closed {
    border-radius: 0px 0px var(--big-border-radius) var(--big-border-radius);
    border-top: none;
    transform: translateY(16px);

    opacity: 0;
    visibility: hidden;
}
[popover]>.content>.right,
[popover]:popover-open>.content>.right.closed {
    grid-area: right;

    border-radius: 0px var(--big-border-radius) var(--big-border-radius) 0px;
    border-left: none;
    transform: translateX(16px);

    opacity: 0;
    visibility: hidden;
}
[popover]:popover-open>.content:not(:has(>.left,>.middle,>.right)),
[popover]:popover-open>.content>.left,
[popover]:popover-open>.content>.middle>.top,
[popover]:popover-open>.content>.middle>.bottom,
[popover]:popover-open>.content>.middle:not(:has(>.top,>.bottom)),
[popover]:popover-open>.content>.right {
    transform: none;
    opacity: 1;
    visibility: visible;
}


/* + ======================================================================== +
/* | Website                                                                  |
/* + ========================================================================*/
.website {
    display: inline-grid;

    width: 311.11px;
    height: 217px;

    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;

    grid-template-areas:
        "cont cont"
        "icon info1"
        "icon info2";

    box-sizing: content-box;
}
.website .website-content {
    grid-area: cont;

    aspect-ratio: 16/9;
    height: 175px;
    background-color: var(--yt-video);
    border-radius: 12px;
    outline: none;
    border: 0;

    background-size: contain;
}
.website .website-author-icon {
    grid-area: icon;

    aspect-ratio: 1/1;
    height: 36px;
    border-radius: 100%;
    background-color: var(--yt-description);

    display: inline-block;

    background-size: contain;

    margin-top: 6px;
}
.website .website-author-name,
.website .website-extra-info {
    grid-area: info1;

    background-color: var(--yt-description);
    color: var(--prominent-text);
    border-radius: var(--small-border-radius);
    width: 200px;
    height: 15px;

    display: block;

    margin: 6px 0px 0px 15px;
}
.website .website-extra-info {
    grid-area: info2;
    width: 150px;
}


/* + ======================================================================== +
/* | Inspiration labels                                                       |
/* + ========================================================================*/
.label {
    border-radius: var(--small-border-radius);
    color: var(--label);
    padding: 5px 5px 5px 0px;
    margin: 1px 10px 1px 1px;
    background-color: var(--prominent-background);

    display: inline;

    white-space: nowrap;
    text-overflow: ellipsis;
}
.label::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: var(--label);
    display: inline-block;
    margin: 0px 5px 1px 5px;
}


/* + ======================================================================== +
/* | Remaining general components                                             |
/* + ========================================================================*/
.center-content {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.loading a {
    color: var(--prominent-text);
    font-size: 0.875rem;
    margin-left: 50px;
}
.loading .dot {
    display: inline-block;
    width: 0.3em;
    height: 0.3em;
    border-radius: 100%;
    background-color: var(--prominent-text);
    vertical-align: baseline;
    position: relative;
    top: 0.05em;
    margin-left: 2px;

    opacity: 0;
}
@keyframes first-dot {
    25% {
        opacity: 1;
    }
}
@keyframes second-dot {
    50% {
        opacity: 1;
    }
}
@keyframes third-dot {
    75% {
        opacity: 1;
    }
}
.loading .dot:nth-child(2) {
    animation: first-dot 4s infinite;
}
.loading .dot:nth-child(3) {
    animation: second-dot 4s infinite;
}
.loading .dot:nth-child(4) {
    animation: third-dot 4s infinite;
}
.fa-rotate-45 {
    rotate: 45deg;
}



/* + ======================================================================== +
/* | Sidebar                                                                  |
/* + ========================================================================*/
@media screen and (min-width: 1000px) {
    #body {
        overflow: hidden;
        margin: 0px!important;
        grid-template-columns: 58px calc(100% - 58px) !important;
        grid-template-rows: var(--app-height);

        height: var(--app-height);
    }
    #sidebar {
        height: 100%;
        padding: 20px 0px;

        display: flex;
        flex-direction: column;
        align-items: center;

        row-gap: 15px;
    }
    #toggle-sidebar {
        display: none !important;
    }
    #sidebar > * {
        row-gap: 15px;
        display: flex;
        flex-direction: column;
    }
    #sidebar-top {
        margin-top: 0;
        margin-bottom: auto;
    }
    #sidebar-bottom {
        margin-top: auto;
        margin-bottom: 0;
    }
    #sidebar i {
        color: var(--non-prominent-text);
        font-size: 2rem;
    
        transition: color 0.5s;
    }
    #sidebar i:hover {
        color: var(--prominent-text);
    }
    #sidebar .tooltip.right {
        left: calc(100% + 15px);
    }
}
@media screen and (max-width: 1000px) {
    #body {
        overflow: hidden;
        height: var(--app-height);
        display: block;
        
    }
    #body > :nth-child(2) {
        padding: 0;
    }
    .split-window > * {
        padding: 0 0 0 5px!important;
    }
    .window {
        padding-top: 40px!important;
    }
    #toggle-sidebar {
        visibility: visible;

        display: flex!important;
        position: fixed;
        top: 0;
        left: 0;

        width: 60px;
        height: 60px;
        border-radius: 0 0 100% 0;
        background-color: var(--extra-prominent-background);

        justify-content: center;
        align-items: center;
        padding: 0;
        
        z-index: 100000000;
    }
    #toggle-sidebar i {
        transition: rotate 0.5s;
        height: fit-content;
        width: fit-content;
        font-size: 1.25rem;

        position: relative;
        top: -7px;
        left: -8px;
    }
    #toggle-sidebar.open i {
        rotate: 90deg;
    }

    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(var(--app-height) + 40px);
        z-index: 10000;
        padding: 40px 0 0 0!important;

        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;

        visibility: hidden;

        transform: translateY(-40px);
        transition: background-color 0.5s, visibility allow-discrete 0.5s, transform 0.5s;

        overflow-y: auto;
    }
    #sidebar.open {
        transform: translateY(0px);
        visibility: visible;
        background-color: var(--background);
    }
    #sidebar > * {
        row-gap: 15px;
        display: flex;
        flex-direction: column;
        width: 175px;
    }
    #sidebar.closed i {
        opacity: 0;
    }
    #sidebar i {
        transition: opacity 0.5s;
        opacity: 1;
        font-size: 2rem;
        color: var(--prominent-text);
    }
    #sidebar p.tooltip {
        opacity: 1;
        transition: opacity 0.5s, visibility allow-discrete 0.5s!important;
        cursor: pointer;
        background-color: var(--background) !important;

        font-size: 1rem;
    }
    #sidebar:not(.open) *:hover > .tooltip {
        transition-delay: initial;
        visibility: hidden!important;
        opacity: 1!important;
    }
    #sidebar p.tooltip::before {
        visibility: hidden;
    }
    #sidebar.open p.tooltip {
        visibility: visible!important;
        opacity: 1!important;
    }
    #sidebar i:hover {
        color: var(--prominent-text);
    }
    #sidebar .tooltip.right {
        left: calc(100% + 15px);
    }
}


/* + ======================================================================== +
/* | Windows                                                                  |
/* + ========================================================================*/
.window {
    display: none;

    overflow-x: hidden;
    overflow-y: auto;

    height: var(--app-height);
}


/* + ======================================================================== +
/* | Footer                                                                   |
/* + ========================================================================*/
.footer {
    display: flex;
    column-gap: 5px;
    align-items: center;

    margin-bottom: 2px;
}
.footer a {
    margin-left: 5px;
    font-size: 1.5rem;
    color: var(--prominent-text);
}
.footer a:visited {
    color: var(--prominent-text);
}
.footer .copyright {
    margin-left: auto;
    margin-right: 10px;
    font-size: 1rem;
    
    user-select: none;
}
@media screen and (min-width: 1000px) {
    div:has(+.footer) {
        min-height: calc(var(--app-height) - 35px);
    }
}
@media screen and (max-width: 1000px) {
    div:has(+.footer) {
        min-height: calc(var(--app-height) - 70px);
    }
}


/* + ======================================================================== +
/* | Home window                                                              |
/* + ========================================================================*/



/* + ======================================================================== +
/* | Projects window                                                          |
/* + ========================================================================*/
#projects>div:first-child {
    column-gap: 20px;
    column-width: 400px;

    padding-top: 10px;
}
#projects h1 {
    padding-top: 0px;
    margin-top: -8px;
}
.project {
    break-inside: avoid;

    display: block;

    border: var(--border-width) solid var(--border);
    border-radius: var(--big-border-radius);

    width: 100%;
    height: auto;
    overflow: hidden;

    margin-top: 20px;
}
.project p {
    margin: 0px 0px 5px 0px;
}
.project .requestor,
.project .executor {
    padding: 0px 15px;
}
.project .requestor p:nth-child(2),
.project .executor p:nth-child(2) {
    color: var(--prominent-text);
}
.project .description {
    margin: 10px 5px;
    padding: 0px 10px 5px 10px;
}
.project .description:has(+.urls) {
    border-bottom: var(--border-width) solid var(--border);
}
.project .urls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;

    margin: 5px 15px;
}
.project .urls a {
    color: var(--prominent-text);
}
.project .urls a:visited {
    color: var(--prominent-text);
}


/* + ======================================================================== +
/* | Projects window popover                                                  |
/* + ========================================================================*/
#project-popover .right {
    max-width: 350px;
}
#project-popover .middle {
    width: 750px;
}
#project-popover .split-window {
    grid-template-columns: repeat( auto-fit, minmax(50%, 1fr) );
}
#project-popover .split-window:nth-child(2) {
    margin-top: 5px;
}
#project-popover .split-window > *:not(button, input) {
    margin: 0px;
    padding: 0px;
    border: none;
}
#project-popover .split-window > *:not(button, input):nth-child(2) {
    margin-left: 10px;
}
#project-popover .description {
    margin: 10px 0px;
    padding: 0px 10px 5px 0px;
}



/* + ======================================================================== +
/* | Inspiration window                                                       |
/* + ========================================================================*/
#inspiration > div:first-child {
    display: grid;
    grid-template-columns: auto 275px;
    height: calc(var(--app-height) - 35px);
}

#inspiration .toggle-sidebar {
    display: none;
}
#inspiration .sidebar {
    overflow-y: auto;
    overflow-x: hidden;

    margin: 30px 10px 0 20px;
    padding: 10px 0 0 30px;
    border-left: var(--border-width) solid var(--seperator);
}
#inspiration .category {
    margin-bottom: 10px;
    transition: margin 0.5s;
}
#inspiration .category.closed {
    margin-bottom: 5px;
}
#inspiration .sidebar .header {
    display: grid;
    grid-template-columns: auto 1rem;

    margin-bottom: 5px;
}
#inspiration .sidebar .header a {
    font-size: 0.9rem;
}
#inspiration .sidebar .header i {
    font-size: 0.8rem;
    transition: rotate 0.5s;
}
#inspiration .sidebar .category.closed i {
    rotate: 90deg;
}
#inspiration .sidebar .content {
    margin: 0 0 0 15px;
    overflow: hidden;
    transition: height 0.5s;
}
@media screen and (max-width: 1000px) {
    #inspiration > div:first-child {
        display: grid;
        grid-template-columns: auto;
        height: fit-content;
        min-height: calc(var(--app-height) - 75px);
    }
    #inspiration > div > .content {
        overflow: visible;
        height: fit-content;
    }
    
    #inspiration .toggle-sidebar {
        visibility: visible;

        display: flex!important;
        position: fixed;
        top: 0;
        right: 0;

        width: 60px;
        height: 60px;
        border-radius: 0 0 0 100%;
        background-color: var(--extra-prominent-background);

        justify-content: center;
        align-items: center;
        padding: 0;
        
        z-index: 100000000;
    }
    #inspiration .toggle-sidebar i {
        transition: rotate 0.5s;
        height: fit-content;
        width: fit-content;
        font-size: 1.25rem;

        position: relative;
        top: -8px;
        left: 5px;
    }
    #inspiration.open .toggle-sidebar i {
        rotate: 90deg;
    }
    
    #inspiration .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(var(--app-height) + 40px);
        z-index: 10000;
        padding: 40px 0 40px 0!important;
        border: 0px solid;
        margin: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;

        visibility: hidden;
        opacity: 0;

        transform: translateY(-40px);
        transition: background-color 0.5s, visibility allow-discrete 0.5s, transform 0.5s, opacity 0.5s;

        overflow-y: auto;
    }
    #inspiration .sidebar.open {
        transform: translateY(0px);
        visibility: visible;
        background-color: var(--background);
        opacity: 1;
    }
    #inspiration .sidebar .sidebar-wrapper {
        min-width: 200px;
        max-width: 400px;
    }
}

#inspiration > div > .content {
    overflow-y: auto;
    overflow-x: hidden;
}
#inspiration .content > .websites {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}
#inspiration .content > .websites .website-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 0px;
}


/* + ======================================================================== +
/* | Inspiration popover                                                      |
/* + ========================================================================*/
#inspiration-popover:not(:has(.middle, .left, .right)) {
    max-width: 800px;
    padding: 15px 25px;
}
#inspiration-popover .middle .top {
    max-width: 800px;
    padding: 15px 25px;
}
#inspiration-popover .comparable {
    margin: 10px 0;
}
#inspiration-popover .labels {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 3px;
}
#inspiration-popover .labels .label {
    color: var(--prominent-text);
}
#inspiration-popover .labels .label::before {
    color: var(--prominent-text);
}
#inspiration-popover .split-window {
    grid-template-columns: auto 1fr;
    padding: 0;
    justify-content: center;
}
#inspiration-popover .split-window :first-child .website {
    margin-left: 15px;
}
#inspiration-popover .split-window > :not(button, input) {
    padding: 0;
}
#inspiration-popover .description {
    margin: 20px;
    margin-left: 40px;
}
#inspiration-popover .description p {
    margin: 0;
}


/* + ======================================================================== +
/* | Files window                                                             |
/* + ========================================================================*/
#files p {
    margin: 0px;
}
#files .navigation {
    border-bottom: var(--border-width) solid var(--seperator);
    margin: -5px 0px 10px 0px;
    padding: 5px 0px 5px 30px;

    user-select: none;

    display: flex;
    align-items: center;
}
#files .navigation i {
    font-size: 1rem;
    display: block;
    color: var(--normal-text);
}
#files .navigation i:first-child {
    margin-right: 10px;
    color: var(--prominent-text);

    cursor: pointer;
}
#files .navigation i:not(:first-child) {
    font-size: 0.75rem;
    font-weight: normal;
}
#files .navigation p {
    font-size: 0.8rem;
    display: inline-block;
    color: var(--prominent-text);
    margin: 0px 10px 0px 10px;

    cursor: pointer;
}
#files .folders,
#files .files {
    column-gap: 20px;
    column-width: 100px;

    margin: 10px 0px;
}
#files .files > .file, 
#files .folders > .folder {
    break-inside: avoid;

    border-radius: var(--small-border-radius);

    width: 100%;
    height: auto;

    user-select: none;
    cursor: pointer;
    text-decoration: none;

    display: grid;
    grid-template-rows: auto auto;
    overflow: hidden;
}
#files .files > .file i, 
#files .folders > .folder i {
    color: var(--normal-text);
    font-size: 2.5rem;
    justify-self: center;

    transition: color 0.5s;
}
#files .files > .file:hover i, 
#files .folders > .folder:hover i {
    color: var(--label);
}
#files .files > .file p, 
#files .folders > .folder p {
    color: var(--prominent-text);
    text-align: center;
    font-size: 0.8rem;

    margin: 5px 0px 2px 0px;
}
#files #on-file-drag {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    z-index: 100;

    background-color: var(--background-color);

    align-items: center;
    justify-content: center;

    display: none;
    opacity: 0;

    transition: opacity 1s;
}
#files #on-file-drag.files-hover {
    opacity: 1;
}
#files #on-file-drag * {
    pointer-events: none;
}


/* + ======================================================================== +
/* | Suggestion window                                                        |
/* + ========================================================================*/
#suggestions > .split-window {
    padding-bottom: 20px;
}
label:has(+ #project-link2, + #project-link3) {
    margin-top: -13px;
}
#project-link1 {
    top: 1px;
}
#project-link2,
#project-link3 {
    margin-top: -7px;
}
#suggestion-label-selector {
    margin: 0px 0px 0px 50px;
}
#suggestion-label-selector label.inline {
    padding: 10px 0px;
}
#suggestion-label-selector label:not(.inline) {
    margin-left: -20px;
}
#suggestion-label-selector .inline-input {
    margin: 0px;

    display: inline-flex;
    flex-wrap: wrap;
    row-gap: 2px;

    position: relative;
    top: 5px;

    margin-bottom: 15px;
}
#suggestion-label-selector .label {
    transition: color 0.2s, background-color 0.2s;
    user-select: none;
    cursor: pointer;
}



/* + ======================================================================== +
/* | Login popover                                                            |
/* + ========================================================================*/
#login-popover {
    overflow: visible;
}